mmo-ecc-dyn-processor-workflow/mmo-ecc-dyn-processor_workflow/workflow.json
{
    "definition": {
        "metadata": {
            "ExportMetadata": {
                "ExportCorrelationId": "5f792076-9259-4031-b328-23a91ea315e2",
                "ExportDate": "2024-12-03T15:46:52"
            }
        },
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "contentVersion": "1.0.0.0",
        "triggers": {
            "When_a_message_is_received_in_a_queue_(peek-lock)": {
                "type": "ApiConnection",
                "inputs": {
                    "host": {
                        "connection": {
                            "referenceName": "servicebus"
                        }
                    },
                    "method": "get",
                    "path": "/@{encodeURIComponent(encodeURIComponent('mmo-ecc-dyn-req-queue'))}/messages/head/peek",
                    "queries": {
                        "queueType": "Main",
                        "sessionId": "Next Available"
                    }
                },
                "recurrence": {
                    "interval": 30,
                    "frequency": "Second"
                },
                "conditions": [],
                "runtimeConfiguration": {
                    "concurrency": {
                        "runs": 30
                    }
                }
            }
        },
        "actions": {
            "Create_or_Retrieve_Exporter_and_Set_CustomerId": {
                "type": "Scope",
                "actions": {
                    "If_AccountId_IS_NOT_null": {
                        "type": "If",
                        "expression": {
                            "and": [
                                {
                                    "not": {
                                        "equals": [
                                            "@variables('AccountId')",
                                            ""
                                        ]
                                    }
                                }
                            ]
                        },
                        "actions": {
                            "Get_Accounts_where_accountid_eq_ExporterNumber": {
                                "type": "ApiConnection",
                                "inputs": {
                                    "host": {
                                        "connection": {
                                            "referenceName": "commondataservice"
                                        }
                                    },
                                    "method": "get",
                                    "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(parameters('HostUrl')))}/tables/@{encodeURIComponent(encodeURIComponent('accounts'))}/items",
                                    "queries": {
                                        "$filter": "accountid eq '@{variables('AccountId')}'",
                                        "$top": 1
                                    }
                                }
                            }
                        },
                        "else": {
                            "actions": {}
                        }
                    },
                    "If_ContactId_IS_NOT_null": {
                        "type": "If",
                        "expression": {
                            "and": [
                                {
                                    "not": {
                                        "equals": [
                                            "@variables('ContactId')",
                                            ""
                                        ]
                                    }
                                }
                            ]
                        },
                        "actions": {
                            "Get_Contacts_where_contactid_eq_ExporterNumber": {
                                "type": "ApiConnection",
                                "inputs": {
                                    "host": {
                                        "connection": {
                                            "referenceName": "commondataservice"
                                        }
                                    },
                                    "method": "get",
                                    "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(parameters('HostUrl')))}/tables/@{encodeURIComponent(encodeURIComponent('contacts'))}/items",
                                    "queries": {
                                        "$filter": "contactid eq '@{variables('ContactId')}'",
                                        "$top": 1
                                    }
                                }
                            }
                        },
                        "else": {
                            "actions": {}
                        },
                        "runAfter": {
                            "If_AccountId_IS_NOT_null": [
                                "Succeeded"
                            ]
                        }
                    },
                    "Mapping_Account": {
                        "type": "If",
                        "expression": {
                            "and": [
                                {
                                    "not": {
                                        "equals": [
                                            "@body('Get_Accounts_where_accountid_eq_ExporterNumber')?['value']",
                                            "@null"
                                        ]
                                    }
                                },
                                {
                                    "equals": [
                                        "@empty(body('Get_Accounts_where_accountid_eq_ExporterNumber')?['value'])",
                                        "@false"
                                    ]
                                }
                            ]
                        },
                        "actions": {
                            "For_each_4": {
                                "type": "Foreach",
                                "foreach": "@body('Get_Accounts_where_accountid_eq_ExporterNumber')?['value']",
                                "actions": {
                                    "Set_variable": {
                                        "type": "SetVariable",
                                        "inputs": {
                                            "name": "CustomerId",
                                            "value": "@items('For_each_4')?['accountid']"
                                        }
                                    },
                                    "Set_variable_4": {
                                        "type": "SetVariable",
                                        "inputs": {
                                            "name": "CustomerIdType",
                                            "value": "accounts"
                                        },
                                        "runAfter": {
                                            "Set_variable": [
                                                "Succeeded"
                                            ]
                                        }
                                    }
                                }
                            }
                        },
                        "else": {
                            "actions": {}
                        },
                        "runAfter": {
                            "If_ContactId_IS_NOT_null": [
                                "Succeeded"
                            ]
                        }
                    },
                    "Mapping_Contact": {
                        "type": "If",
                        "expression": {
                            "and": [
                                {
                                    "not": {
                                        "equals": [
                                            "@body('Get_Contacts_where_contactid_eq_ExporterNumber')?['value']",
                                            "@null"
                                        ]
                                    }
                                },
                                {
                                    "or": [
                                        {
                                            "equals": [
                                                "@body('Get_Accounts_where_accountid_eq_ExporterNumber')?['value']",
                                                "@null"
                                            ]
                                        },
                                        {
                                            "equals": [
                                                "@empty(body('Get_Accounts_where_accountid_eq_ExporterNumber')?['value'])",
                                                "@true"
                                            ]
                                        }
                                    ]
                                },
                                {
                                    "equals": [
                                        "@empty(body('Get_Contacts_where_contactid_eq_ExporterNumber')?['value'])",
                                        "@false"
                                    ]
                                }
                            ]
                        },
                        "actions": {
                            "For_each": {
                                "type": "Foreach",
                                "foreach": "@body('Get_Contacts_where_contactid_eq_ExporterNumber')?['value']",
                                "actions": {
                                    "Set_variable_12": {
                                        "type": "SetVariable",
                                        "inputs": {
                                            "name": "CustomerId",
                                            "value": "@items('For_each')?['contactid']"
                                        }
                                    },
                                    "Set_variable_13": {
                                        "type": "SetVariable",
                                        "inputs": {
                                            "name": "CustomerIdType",
                                            "value": "contacts"
                                        },
                                        "runAfter": {
                                            "Set_variable_12": [
                                                "Succeeded"
                                            ]
                                        }
                                    }
                                }
                            }
                        },
                        "else": {
                            "actions": {}
                        },
                        "runAfter": {
                            "If_ContactId_IS_NOT_null": [
                                "Succeeded"
                            ]
                        }
                    },
                    "Mapping_ExporterTemp": {
                        "type": "If",
                        "expression": {
                            "and": [
                                {
                                    "or": [
                                        {
                                            "equals": [
                                                "@body('Get_Accounts_where_accountid_eq_ExporterNumber')?['value']",
                                                "@null"
                                            ]
                                        },
                                        {
                                            "equals": [
                                                "@empty(body('Get_Accounts_where_accountid_eq_ExporterNumber')?['value'])",
                                                "@true"
                                            ]
                                        }
                                    ]
                                },
                                {
                                    "or": [
                                        {
                                            "equals": [
                                                "@body('Get_Contacts_where_contactid_eq_ExporterNumber')?['value']",
                                                "@null"
                                            ]
                                        },
                                        {
                                            "equals": [
                                                "@empty(body('Get_Contacts_where_contactid_eq_ExporterNumber')?['value'])",
                                                "@true"
                                            ]
                                        }
                                    ]
                                }
                            ]
                        },
                        "actions": {
                            "Set_variable_14": {
                                "type": "SetVariable",
                                "inputs": {
                                    "name": "CustomerIdType",
                                    "value": "accounts"
                                },
                                "runAfter": {
                                    "Set_variable_2": [
                                        "Succeeded"
                                    ]
                                }
                            },
                            "Set_variable_2": {
                                "type": "SetVariable",
                                "inputs": {
                                    "name": "CustomerId",
                                    "value": "3aad1982-5bb9-ea11-a812-000d3a20caa3"
                                }
                            }
                        },
                        "else": {
                            "actions": {}
                        },
                        "runAfter": {
                            "Mapping_Account": [
                                "Succeeded"
                            ],
                            "Mapping_Contact": [
                                "Succeeded"
                            ]
                        }
                    }
                },
                "runAfter": {
                    "Map_Casetype2_for_PS_and_SD": [
                        "Succeeded"
                    ]
                }
            },
            "Create_or_Update_Catches_Products": {
                "type": "Scope",
                "actions": {
                    "For_each_17": {
                        "type": "Foreach",
                        "foreach": "@variables('CatchesProductsArray')",
                        "actions": {
                            "Condition_8": {
                                "type": "If",
                                "expression": {
                                    "and": [
                                        {
                                            "equals": [
                                                "@length(body('List_records_7')?['value'])",
                                                0
                                            ]
                                        }
                                    ]
                                },
                                "actions": {
                                    "Condition_14": {
                                        "type": "If",
                                        "expression": {
                                            "and": [
                                                {
                                                    "equals": [
                                                        "@variables('CaseId')",
                                                        ""
                                                    ]
                                                }
                                            ]
                                        },
                                        "actions": {
                                            "Create_a_new_record_4": {
                                                "type": "ApiConnection",
                                                "inputs": {
                                                    "host": {
                                                        "connection": {
                                                            "referenceName": "commondataservice"
                                                        }
                                                    },
                                                    "method": "post",
                                                    "body": {
                                                        "title": "@variables('DocumentNumber')",
                                                        "_mmofe_casetype1_value": "@variables('CaseTypeId')",
                                                        "_mmofe_casetype2_value": "@{if(greater(length(variables('CaseTypeId2')),0),variables('CaseTypeId2'),null)}",
                                                        "_mmofe_documentid_value": "@variables('DocumentId')",
                                                        "_customerid_value": "@variables('CustomerId')",
                                                        "_customerid_type": "@variables('CustomerIdType')",
                                                        "_ownerid_type": "",
                                                        "merged": false,
                                                        "activitiescomplete": false,
                                                        "mmofe_approvalconfirmed": false,
                                                        "mmofe_approvaltoproceed": false,
                                                        "blockedprofile": false,
                                                        "mmofe_caseriskatsubmission": "@if(contains(variables('Payload'), 'caseRiskAtSubmission'), variables('Payload')['caseRiskAtSubmission'], null)",
                                                        "mmofe_casetoberesolved": false,
                                                        "mmofe_ccdirectlanding": "@if(contains(variables('Payload'), 'isDirectLanding'), variables('Payload')['isDirectLanding'], false)",
                                                        "checkemail": false,
                                                        "mmofe_correlationid": "@variables('CorrelationId')",
                                                        "customercontacted": false,
                                                        "decremententitlementterm": true,
                                                        "isdecrementing": false,
                                                        "mmofe_documentnumber": "@variables('DocumentNumber')",
                                                        "mmofe_exportdestinationcountry": "@{if(contains(variables('Payload'), 'exportedTo'), if(contains(variables('Payload')['exportedTo'], 'officialCountryName'), variables('Payload')['exportedTo']['officialCountryName'], null), null)}",
                                                        "mmofe_failureirrespectiveofrisk": "@if(contains(variables('Payload'), 'failureIrrespectiveOfRisk'), variables('Payload')['failureIrrespectiveOfRisk'], false)",
                                                        "firstresponsesent": false,
                                                        "followuptaskcreated": false,
                                                        "mmofe_integrationpayload": "@{variables('Payload')}",
                                                        "isescalated": false,
                                                        "mmofe_iteration": "@variables('Iteration')",
                                                        "mmofe_landingscloned": "@if(contains(variables('Payload'), 'landingsCloned'), variables('Payload')['landingsCloned'], null)",
                                                        "mmofe_numberoffailedsubmissions": "@variables('NumberOfFailedSubmissions')",
                                                        "mmofe_documentvoid": "@if(contains(variables('Payload'), 'parentDocumentVoid'), variables('Payload')['parentDocumentVoid'], null)",
                                                        "mmofe_daylimitreached": false,
                                                        "routecase": true,
                                                        "mmofe_speciesmanuallyoverridden": "@if(contains(variables('Payload'), 'speciesOverriddenByAdmin'), variables('Payload')['speciesOverriddenByAdmin'], false)",
                                                        "mmofe_caseoutcomeatsubmission": "@if(contains(variables('Payload'), 'caseOutcomeAtSubmission'), if(contains(variables('Payload')['caseOutcomeAtSubmission'], 'Issued'), 961040000, if(contains(variables('Payload')['caseOutcomeAtSubmission'], 'Rejected'), 961040001, 1)), null)",
                                                        "mmofe_vesselmanuallyoverridden": "@if(contains(variables('Payload'), 'vesselOverriddenByAdmin'), variables('Payload')['vesselOverriddenByAdmin'], false)",
                                                        "_mmofe_clonedfrom_value": "@variables('CloneDocId')",
                                                        "_mmofe_devolvedadministrationid_value": "@variables('DevolvedAdministrationId')",
                                                        "_mmofe_casestatusatsubmission_value": "@{if(greater(length(variables('CaseStatusAtSubmission')),0),variables('CaseStatusAtSubmission'),null)}"
                                                    },
                                                    "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(parameters('HostUrl')))}/tables/@{encodeURIComponent(encodeURIComponent('incidents'))}/items"
                                                }
                                            },
                                            "Set_variable_18": {
                                                "type": "SetVariable",
                                                "inputs": {
                                                    "name": "CaseId",
                                                    "value": "@body('Create_a_new_record_4')?['incidentid']"
                                                },
                                                "runAfter": {
                                                    "Create_a_new_record_4": [
                                                        "Succeeded",
                                                        "Failed"
                                                    ]
                                                }
                                            }
                                        },
                                        "else": {
                                            "actions": {}
                                        }
                                    },
                                    "Create_a_new_record_9": {
                                        "type": "ApiConnection",
                                        "inputs": {
                                            "host": {
                                                "connection": {
                                                    "referenceName": "commondataservice"
                                                }
                                            },
                                            "method": "post",
                                            "body": {
                                                "mmofe_name": "@{item()['id']}",
                                                "mmofe_cncode": "@{item()['cnCode']}",
                                                "mmofe_correlationid": "@variables('CorrelationId')",
                                                "mmofe_exportedweight": "@if(contains(string(item()),'exportedWeight'), item()['exportedWeight'],null)",
                                                "mmofe_foreigncatchcertificatenumber": "@{item()['foreignCatchCertificateNumber']}",
                                                "mmofe_importedweight": "@if(contains(string(item()),'importedWeight'), item()['importedWeight'],null)",
                                                "mmofe_integrationpayload": "@{string(item())}",
                                                "mmofe_iteration": "@variables('Iteration')",
                                                "mmofe_overuseinfo": "@{if(contains(string(item()),'validation'), if(contains(item()['validation'],'overuseInfo'), join(item()['validation']['overuseInfo'], ', '), null), null)}",
                                                "mmofe_processedweight": "@if(contains(string(item()),'processedWeight'), item()['processedWeight'],null)",
                                                "mmofe_totalusedweightagainstcertificate": "@if(contains(string(item()),'totalUsedWeightAgainstCertificate'), json(string(item()['validation']))['totalUsedWeightAgainstCertificate'],null)",
                                                "mmofe_totalweightexported": "@if(contains(string(item()),'totalWeightExported'), json(string(item()['validation']))['totalWeightExported'],null)",
                                                "mmofe_type": "@if(contains(variables('Payload'),'catches'),true,false)",
                                                "mmofe_usedweightagainstcertificate": "@if(contains(string(item()),'usedWeightAgainstCertificate'), item()['usedWeightAgainstCertificate'],null)",
                                                "mmofe_documentissuedinuk": "@if(contains(string(item()), 'isDocumentIssuedInUK'), item()['isDocumentIssuedInUK'], false)",
                                                "mmofe_weightexceededamount": "@if(contains(string(item()),'weightExceededAmount'), json(string(item()['validation']))['weightExceededAmount'],null)",
                                                "_mmofe_caseid_value": "@variables('CaseId')",
                                                "_mmofe_documentid_value": "@variables('DocumentId')",
                                                "_mmofe_customerid_value": "@variables('CustomerId')",
                                                "_mmofe_customerid_type": "@{variables('CustomerIdType')}",
                                                "_ownerid_type": "",
                                                "_mmofe_speciesid_value": "@{outputs('SpeciesId_CP')}",
                                                "_mmofe_validationstatusid_value": "@{outputs('ValidationStatusId_CP')}"
                                            },
                                            "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(parameters('HostUrl')))}/tables/@{encodeURIComponent(encodeURIComponent('mmofe_catchproducts'))}/items"
                                        },
                                        "runAfter": {
                                            "ValidationStatusId_CP": [
                                                "Succeeded"
                                            ]
                                        }
                                    },
                                    "Get_Species_for_CP": {
                                        "type": "ApiConnection",
                                        "inputs": {
                                            "host": {
                                                "connection": {
                                                    "referenceName": "commondataservice"
                                                }
                                            },
                                            "method": "get",
                                            "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(parameters('HostUrl')))}/tables/@{encodeURIComponent(encodeURIComponent('mmofe_species'))}/items",
                                            "queries": {
                                                "$filter": "mmofe_name eq '@{item()['species']}'",
                                                "$top": 1
                                            }
                                        },
                                        "runAfter": {
                                            "Condition_14": [
                                                "Succeeded"
                                            ]
                                        }
                                    },
                                    "Get_Validation_Status_for_CP": {
                                        "type": "ApiConnection",
                                        "inputs": {
                                            "host": {
                                                "connection": {
                                                    "referenceName": "commondataservice"
                                                }
                                            },
                                            "method": "get",
                                            "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(parameters('HostUrl')))}/tables/@{encodeURIComponent(encodeURIComponent('mmofe_validationstatuses'))}/items",
                                            "queries": {
                                                "$filter": "mmofe_name eq '@{if(contains(string(item()),'status'), json(string(item()['validation']))['status'],'')}'",
                                                "$top": 1
                                            }
                                        },
                                        "runAfter": {
                                            "Get_Species_for_CP": [
                                                "Succeeded"
                                            ]
                                        }
                                    },
                                    "SpeciesId_CP": {
                                        "type": "Compose",
                                        "inputs": "@if(greater(length(body('Get_Species_for_CP')?['value']),0), body('Get_Species_for_CP')?['value'][0]['mmofe_specieid'],null)",
                                        "runAfter": {
                                            "Get_Validation_Status_for_CP": [
                                                "Succeeded"
                                            ]
                                        }
                                    },
                                    "ValidationStatusId_CP": {
                                        "type": "Compose",
                                        "inputs": "@if(greater(length(body('Get_Validation_Status_for_CP')?['value']),0),body('Get_Validation_Status_for_CP')?['value'][0]['mmofe_validationstatusid'],null)",
                                        "runAfter": {
                                            "SpeciesId_CP": [
                                                "Succeeded"
                                            ]
                                        }
                                    }
                                },
                                "else": {
                                    "actions": {}
                                },
                                "runAfter": {
                                    "List_records_7": [
                                        "Succeeded"
                                    ]
                                }
                            },
                            "List_records_7": {
                                "type": "ApiConnection",
                                "inputs": {
                                    "host": {
                                        "connection": {
                                            "referenceName": "commondataservice"
                                        }
                                    },
                                    "method": "get",
                                    "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(parameters('HostUrl')))}/tables/@{encodeURIComponent(encodeURIComponent('mmofe_catchproducts'))}/items",
                                    "queries": {
                                        "$filter": "_mmofe_documentid_value eq '@{variables('DocumentId')}' and mmofe_name eq '@{items('For_each_17')['foreignCatchCertificateNumber']}'",
                                        "$top": 1
                                    }
                                }
                            }
                        },
                        "runtimeConfiguration": {
                            "concurrency": {
                                "repetitions": 20
                            }
                        }
                    }
                },
                "runAfter": {
                    "Document": [
                        "Succeeded"
                    ]
                }
            },
            "Create_or_Update_Landings": {
                "type": "Scope",
                "actions": {
                    "For_each_3": {
                        "type": "Foreach",
                        "foreach": "@variables('Landings')",
                        "actions": {
                            "Scope": {
                                "type": "Scope",
                                "actions": {
                                    "Condition_7": {
                                        "type": "If",
                                        "expression": {
                                            "and": [
                                                {
                                                    "equals": [
                                                        "@length(body('List_records_6')?['value'])",
                                                        1
                                                    ]
                                                }
                                            ]
                                        },
                                        "actions": {
                                            "Condition_9": {
                                                "type": "If",
                                                "expression": {
                                                    "and": [
                                                        {
                                                            "equals": [
                                                                "@outputs('Existing_Source')",
                                                                961040000
                                                            ]
                                                        },
                                                        {
                                                            "less": [
                                                                "@outputs('Existing_Live_Export_Weight')",
                                                                50
                                                            ]
                                                        },
                                                        {
                                                            "equals": [
                                                                "@outputs('Existing_IsLate')",
                                                                961040001
                                                            ]
                                                        },
                                                        {
                                                            "equals": [
                                                                "@outputs('Updated_Source')",
                                                                961040001
                                                            ]
                                                        }
                                                    ]
                                                },
                                                "actions": {},
                                                "else": {
                                                    "actions": {
                                                        "Update_a_record_11": {
                                                            "type": "ApiConnection",
                                                            "inputs": {
                                                                "host": {
                                                                    "connection": {
                                                                        "referenceName": "commondataservice"
                                                                    }
                                                                },
                                                                "method": "patch",
                                                                "body": {
                                                                    "mmofe_late": "@if(contains(string(item()),'isLate'), if(equals(item()['isLate'],true),961040000, 961040001), null)"
                                                                },
                                                                "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(parameters('HostUrl')))}/tables/@{encodeURIComponent(encodeURIComponent('mmofe_landingses'))}/items/@{encodeURIComponent(encodeURIComponent(outputs('UpdateLandingId')))}"
                                                            }
                                                        }
                                                    }
                                                },
                                                "runAfter": {
                                                    "Updated_Source": [
                                                        "Succeeded"
                                                    ]
                                                }
                                            },
                                            "Existing_IsLate": {
                                                "type": "Compose",
                                                "inputs": "@body('List_records_6')?['value'][0]['mmofe_late']",
                                                "runAfter": {
                                                    "Existing_Live_Export_Weight": [
                                                        "Succeeded"
                                                    ]
                                                }
                                            },
                                            "Existing_Live_Export_Weight": {
                                                "type": "Compose",
                                                "inputs": "@body('List_records_6')?['value'][0]['mmofe_liveexportweight']",
                                                "runAfter": {
                                                    "Existing_Source": [
                                                        "Succeeded"
                                                    ]
                                                }
                                            },
                                            "Existing_Source": {
                                                "type": "Compose",
                                                "inputs": "@body('List_records_6')?['value'][0]['mmofe_sourcedata']",
                                                "runAfter": {
                                                    "UpdateLandingId": [
                                                        "Succeeded"
                                                    ]
                                                }
                                            },
                                            "If_CaseId_is_null_Set_From_Dynamics": {
                                                "type": "If",
                                                "expression": {
                                                    "and": [
                                                        {
                                                            "equals": [
                                                                "@variables('CaseId')",
                                                                ""
                                                            ]
                                                        }
                                                    ]
                                                },
                                                "actions": {
                                                    "For_each_2": {
                                                        "type": "Foreach",
                                                        "foreach": "@body('List_records_6')?['value']",
                                                        "actions": {
                                                            "Set_variable_8": {
                                                                "type": "SetVariable",
                                                                "inputs": {
                                                                    "name": "CaseId",
                                                                    "value": "@items('For_each_2')?['_mmofe_caseid_value']"
                                                                }
                                                            }
                                                        }
                                                    }
                                                },
                                                "else": {
                                                    "actions": {}
                                                },
                                                "runAfter": {
                                                    "Existing_IsLate": [
                                                        "Succeeded"
                                                    ]
                                                }
                                            },
                                            "List_records_11": {
                                                "type": "ApiConnection",
                                                "inputs": {
                                                    "host": {
                                                        "connection": {
                                                            "referenceName": "commondataservice"
                                                        }
                                                    },
                                                    "method": "get",
                                                    "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(parameters('HostUrl')))}/tables/@{encodeURIComponent(encodeURIComponent('mmofe_landingses'))}/items",
                                                    "queries": {
                                                        "$filter": "_mmofe_documentid_value eq '@{variables('DocumentId')}' and mmofe_name eq '@{items('For_each_3')['id']}' and mmofe_numberoftotalsubmissions eq @{variables('NumberOfTotalSubmissions')}",
                                                        "$top": 1
                                                    }
                                                },
                                                "runAfter": {
                                                    "Update_a_record": [
                                                        "Succeeded"
                                                    ]
                                                }
                                            },
                                            "UpdateLandingId": {
                                                "type": "Compose",
                                                "inputs": "@body('List_records_6')?['value'][0]['mmofe_landingsid']"
                                            },
                                            "Update_a_record": {
                                                "type": "ApiConnection",
                                                "inputs": {
                                                    "host": {
                                                        "connection": {
                                                            "referenceName": "commondataservice"
                                                        }
                                                    },
                                                    "method": "patch",
                                                    "body": {
                                                        "mmofe_totalestimatedweightexportedspecies": "@if(contains(string(item()),'totalEstimatedForExportSpecies'), json(string(item()['validation']))['totalEstimatedForExportSpecies'],null)",
                                                        "mmofe_commoditycode": "@{if(contains(string(item()),'cnCode'), item()['cnCode'],null)}",
                                                        "mmofe_admincommoditycode": "@{if(contains(string(item()),'adminCommodityCode'), item()['adminCommodityCode'],null)}",
                                                        "mmofe_correlationid": "@variables('CorrelationId')",
                                                        "mmofe_dataeverexpected": "@if(contains(string(item()),'dataEverExpected'), if(equals(item()['dataEverExpected'],true),961040000, 961040001), null)",
                                                        "mmofe_dataexpectedatsubmission": "@if(contains(string(item()),'landingDataExpectedAtSubmission'), if(equals(item()['landingDataExpectedAtSubmission'],true),961040000, 961040001), null)",
                                                        "mmofe_dataexpectedby": "@if(contains(string(item()),'landingDataExpectedDate'), formatDateTime(item()['landingDataExpectedDate'], 'yyyy-MM-dd'), null)",
                                                        "mmofe_datareceived": "@if(contains(string(item()),'dateDataReceived'), formatDateTime(item()['dateDataReceived'], 'yyyy-MM-dd'), null)",
                                                        "mmofe_datelanding": "@{formatDateTime(item()['landingDate'], 'yyyy-MM-dd')}",
                                                        "mmofe_totalestimatedweight": "@if(contains(string(item()),'totalEstimatedWithTolerance'), json(string(item()['validation']))['totalEstimatedWithTolerance'],null)",
                                                        "mmofe_exporterbehaviourriskscore": "@if(contains(string(item()),'risking'), if(contains(item()['risking'],'exporterRiskScore'), item()['risking']['exporterRiskScore'], 0), 0)",
                                                        "mmofe_highlowrisk": "@if(contains(string(item()),'risking'), if(contains(item()['risking'],'highOrLowRisk'), if(equals(item()['risking']['highOrLowRisk'], 'Low'), true, false), false), false)",
                                                        "mmofe_integrationpayload": "@{string(item())}",
                                                        "mmofe_iteration": "@variables('Iteration')",
                                                        "mmofe_landedweightexceedby": "@if(contains(string(item()),'landedWeightExceededBy'), json(string(item()['validation']))['landedWeightExceededBy'],null)",
                                                        "mmofe_totalliveweightexportedspecies": "@if(contains(string(item()),'totalLiveForExportSpecies'), json(string(item()['validation']))['totalLiveForExportSpecies'],null)",
                                                        "mmofe_totallandingdecweightexportedspecies": "@if(contains(string(item()),'totalWeightForSpecies'), json(string(item()['validation']))['totalWeightForSpecies'],null)",
                                                        "mmofe_name": "@{if(contains(string(item()),'id'), item()['id'],null)}",
                                                        "mmofe_landingoutcomeatretrospectivecheck": "@if(contains(string(item()),'landingOutcomeAtRetrospectiveCheck'), if(equals(item()['landingOutcomeAtRetrospectiveCheck'],'Success'),961040000, 961040001), null)",
                                                        "mmofe_landingriskscore": "@if(contains(string(item()),'risking'), if(contains(item()['risking'],'landingRiskScore'), item()['risking']['landingRiskScore'], 0), 0)",
                                                        "mmofe_late": "@if(contains(string(item()),'isLate'), if(equals(item()['isLate'],true),961040000, 961040001), null)",
                                                        "mmofe_licenceholder": "@{if(contains(string(item()),'licenceHolder'), item()['licenceHolder'],null)}",
                                                        "mmofe_liveexportweight": "@if(contains(string(item()),'liveExportWeight'), json(string(item()['validation']))['liveExportWeight'],null)",
                                                        "mmofe_numberoftotalsubmissions": "@variables('NumberOfTotalSubmissions')",
                                                        "mmofe_overuseinfo": "@{if(contains(string(item()),'risking'), if(contains(item()['risking'],'overuseInfo'), join(item()['risking']['overuseInfo'], ', '), null), null)}",
                                                        "mmofe_adminpresentation": "@{if(contains(string(item()),'adminPresentation'), item()['adminPresentation'],null)}",
                                                        "mmofe_retrospectiveendingon": "@if(contains(string(item()),'landingDataEndDate'), formatDateTime(item()['landingDataEndDate'], 'yyyy-MM-dd'), null)",
                                                        "mmofe_daylimitreached": "@if(contains(string(item()),'is14DayLimitReached'), item()['is14DayLimitReached'],null)",
                                                        "mmofe_salesnoteurl": "@{if(contains(string(item()),'salesNoteUrl'), json(string(item()['validation']))['salesNoteUrl'],null)}",
                                                        "mmofe_sourcedata": "@outputs('Source')",
                                                        "mmofe_adminspecies": "@{if(contains(string(item()),'adminSpecies'), item()['adminSpecies'],null)}",
                                                        "mmofe_speciesalias": "@if(contains(string(item()),'speciesAlias'), if(equals(item()['speciesAlias'],'N'),false, if(equals(item()['speciesAlias'],'Y'),true, null)), null)",
                                                        "mmofe_speciesanomaly": "@if(contains(string(item()),'speciesAnomaly'), item()['speciesAnomaly'],null)",
                                                        "mmofe_speciesmanuallyoverridden": "@if(contains(variables('Payload'), 'speciesOverriddenByAdmin'), variables('Payload')['speciesOverriddenByAdmin'], false)",
                                                        "mmofe_speciesrisk": "@if(contains(string(item()),'risking'), if(contains(item()['risking'],'speciesRisk'), item()['risking']['speciesRisk'], null), null)",
                                                        "mmofe_speciestogglerisk": "@if(contains(string(item()),'risking'), if(contains(item()['risking'],'isSpeciesRiskEnabled'), item()['risking']['isSpeciesRiskEnabled'], false), false)",
                                                        "mmofe_adminstate": "@{if(contains(string(item()),'adminState'), item()['adminState'],null)}",
                                                        "mmofe_totalweightrecordedagainstlanding": "@if(contains(string(item()),'totalRecordedAgainstLanding'), json(string(item()['validation']))['totalRecordedAgainstLanding'],null)",
                                                        "mmofe_validationlegal": "@if(contains(string(item()),'isLegallyDue'), if(equals(json(string(item()['validation']))['isLegallyDue'],true),961040000,961040001),null)",
                                                        "mmofe_validationurl": "@{if(contains(string(item()),'rawLandingsUrl'), json(string(item()['validation']))['rawLandingsUrl'],null)}",
                                                        "mmofe_vesseladministration": "@outputs('VesselAdmin')",
                                                        "mmofe_vesselmanuallyoverridden": "@if(contains(string(item()),'vesselOverriddenByAdmin'), item()['vesselOverriddenByAdmin'],false)",
                                                        "mmofe_vesselpln": "@{if(contains(string(item()),'vesselName'), item()['vesselName'],null)}",
                                                        "mmofe_vesselnumber": "@{if(contains(string(item()),'vesselPln'), item()['vesselPln'],null)}",
                                                        "mmofe_vesselinterest": "@if(contains(string(item()),'risking'), if(contains(item()['risking'],'vessel'), item()['risking']['vessel'], null), null)",
                                                        "mmofe_vesselsize": "@{if(contains(string(item()),'vesselLength'), item()['vesselLength'],0)}",
                                                        "mmofe_weight": "@{if(contains(string(item()),'weight'), item()['weight'],null)}",
                                                        "_mmofe_presentationid_value": "@{outputs('PresentationId')}",
                                                        "_mmofe_validationstatusid_value": "@{if(greater(length(outputs('ValidationStatusRetro')),0),outputs('ValidationStatusRetro'),outputs('ValidationStatusid'))}",
                                                        "_mmofe_speciesid_value": "@{outputs('SpeciesId')}",
                                                        "_mmofe_stateid_value": "@{outputs('StateId')}"
                                                    },
                                                    "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(parameters('HostUrl')))}/tables/@{encodeURIComponent(encodeURIComponent('mmofe_landingses'))}/items/@{encodeURIComponent(encodeURIComponent(outputs('UpdateLandingId')))}"
                                                },
                                                "runAfter": {
                                                    "If_CaseId_is_null_Set_From_Dynamics": [
                                                        "Succeeded"
                                                    ]
                                                }
                                            },
                                            "Updated_Source": {
                                                "type": "Compose",
                                                "inputs": "@body('List_records_11')?['value'][0]['mmofe_sourcedata']",
                                                "runAfter": {
                                                    "List_records_11": [
                                                        "Succeeded"
                                                    ]
                                                }
                                            }
                                        },
                                        "else": {
                                            "actions": {
                                                "Create_a_new_record_8": {
                                                    "type": "ApiConnection",
                                                    "inputs": {
                                                        "host": {
                                                            "connection": {
                                                                "referenceName": "commondataservice"
                                                            }
                                                        },
                                                        "method": "post",
                                                        "body": {
                                                            "_mmofe_caseid_value": "@variables('CaseId')",
                                                            "_mmofe_documentid_value": "@variables('DocumentId')",
                                                            "mmofe_totalestimatedweightexportedspecies": "@if(contains(string(item()),'totalEstimatedForExportSpecies'), json(string(item()['validation']))['totalEstimatedForExportSpecies'],null)",
                                                            "mmofe_commoditycode": "@{if(contains(string(item()),'cnCode'), item()['cnCode'],null)}",
                                                            "mmofe_admincommoditycode": "@{if(contains(string(item()),'adminCommodityCode'), item()['adminCommodityCode'],null)}",
                                                            "mmofe_correlationid": "@variables('CorrelationId')",
                                                            "mmofe_dataeverexpected": "@if(contains(string(item()),'dataEverExpected'), if(equals(item()['dataEverExpected'],true),961040000, 961040001), null)",
                                                            "mmofe_dataexpectedatsubmission": "@if(contains(string(item()),'landingDataExpectedAtSubmission'), if(equals(item()['landingDataExpectedAtSubmission'],true),961040000, 961040001), null)",
                                                            "mmofe_dataexpectedby": "@if(contains(string(item()),'landingDataExpectedDate'), formatDateTime(item()['landingDataExpectedDate'], 'yyyy-MM-dd'), null)",
                                                            "mmofe_datareceived": "@if(contains(string(item()),'dateDataReceived'), formatDateTime(item()['dateDataReceived'], 'yyyy-MM-dd'), null)",
                                                            "mmofe_datelanding": "@{formatDateTime(item()['landingDate'], 'yyyy-MM-dd')}",
                                                            "mmofe_totalestimatedweight": "@if(contains(string(item()),'totalEstimatedWithTolerance'), json(string(item()['validation']))['totalEstimatedWithTolerance'],null)",
                                                            "mmofe_exporterbehaviourriskscore": "@if(contains(string(item()),'risking'), if(contains(item()['risking'],'exporterRiskScore'), item()['risking']['exporterRiskScore'], null), null)",
                                                            "mmofe_highlowrisk": "@if(contains(string(item()),'risking'), if(contains(item()['risking'],'highOrLowRisk'), if(equals(item()['risking']['highOrLowRisk'], 'Low'), true, false), false), false)",
                                                            "mmofe_integrationpayload": "@{string(item())}",
                                                            "mmofe_iteration": "@variables('Iteration')",
                                                            "mmofe_landedweightexceedby": "@if(contains(string(item()),'landedWeightExceededBy'), json(string(item()['validation']))['landedWeightExceededBy'],null)",
                                                            "mmofe_totalliveweightexportedspecies": "@if(contains(string(item()),'totalLiveForExportSpecies'), json(string(item()['validation']))['totalLiveForExportSpecies'],null)",
                                                            "mmofe_totallandingdecweightexportedspecies": "@if(contains(string(item()),'totalWeightForSpecies'), json(string(item()['validation']))['totalWeightForSpecies'],null)",
                                                            "mmofe_name": "@{if(contains(string(item()),'id'), item()['id'],null)}",
                                                            "mmofe_landingoutcomeatretrospectivecheck": "@if(contains(string(item()),'landingOutcomeAtRetrospectiveCheck'), if(equals(item()['landingOutcomeAtRetrospectiveCheck'],'Success'),961040000, 961040001), null)",
                                                            "mmofe_landingoutcomeatsubmission": "@if(contains(string(item()),'landingOutcomeAtSubmission'), if(equals(item()['landingOutcomeAtSubmission'],'Success'),961040000, 961040001), null)",
                                                            "mmofe_landingriskscore": "@if(contains(string(item()),'risking'), if(contains(item()['risking'],'landingRiskScore'), item()['risking']['landingRiskScore'], 0), 0)",
                                                            "mmofe_late": "@if(contains(string(item()),'isLate'), if(equals(item()['isLate'],true),961040000, 961040001), null)",
                                                            "mmofe_licenceholder": "@{if(contains(string(item()),'licenceHolder'), item()['licenceHolder'],null)}",
                                                            "mmofe_liveexportweight": "@if(contains(string(item()),'liveExportWeight'), json(string(item()['validation']))['liveExportWeight'],null)",
                                                            "mmofe_numberoftotalsubmissions": "@variables('NumberOfTotalSubmissions')",
                                                            "mmofe_overuseinfo": "@{if(contains(string(item()),'risking'), if(contains(item()['risking'],'overuseInfo'), join(item()['risking']['overuseInfo'], ', '), null), null)}",
                                                            "mmofe_adminpresentation": "@{if(contains(string(item()),'adminPresentation'), item()['adminPresentation'],null)}",
                                                            "mmofe_retrospectiveendingon": "@if(contains(string(item()),'landingDataEndDate'), formatDateTime(item()['landingDataEndDate'], 'yyyy-MM-dd'), null)",
                                                            "mmofe_daylimitreached": "@if(contains(string(item()),'is14DayLimitReached'), item()['is14DayLimitReached'],null)",
                                                            "mmofe_salesnoteurl": "@{if(contains(string(item()),'salesNoteUrl'), json(string(item()['validation']))['salesNoteUrl'],null)}",
                                                            "mmofe_sourcedata": "@outputs('Source')",
                                                            "mmofe_adminspecies": "@{if(contains(string(item()),'adminSpecies'), item()['adminSpecies'],null)}",
                                                            "mmofe_speciesalias": "@if(contains(string(item()),'speciesAlias'), if(equals(item()['speciesAlias'],'N'),false, if(equals(item()['speciesAlias'],'Y'),true, null)), null)",
                                                            "mmofe_speciesanomaly": "@if(contains(string(item()),'speciesAnomaly'), item()['speciesAnomaly'],null)",
                                                            "mmofe_speciesmanuallyoverridden": "@if(contains(variables('Payload'), 'speciesOverriddenByAdmin'), variables('Payload')['speciesOverriddenByAdmin'], false)",
                                                            "mmofe_speciesrisk": "@if(contains(string(item()),'risking'), if(contains(item()['risking'],'speciesRisk'), item()['risking']['speciesRisk'], null), null)",
                                                            "mmofe_speciestogglerisk": "@if(contains(string(item()),'risking'), if(contains(item()['risking'],'isSpeciesRiskEnabled'), item()['risking']['isSpeciesRiskEnabled'], false), false)",
                                                            "mmofe_adminstate": "@{if(contains(string(item()),'adminState'), item()['adminState'],null)}",
                                                            "mmofe_totalweightrecordedagainstlanding": "@if(contains(string(item()),'totalRecordedAgainstLanding'), json(string(item()['validation']))['totalRecordedAgainstLanding'],null)",
                                                            "mmofe_validationlegal": "@if(contains(string(item()),'isLegallyDue'), if(equals(json(string(item()['validation']))['isLegallyDue'],true),961040000,961040001),null)",
                                                            "mmofe_validationurl": "@{if(contains(string(item()),'rawLandingsUrl'), json(string(item()['validation']))['rawLandingsUrl'],null)}",
                                                            "mmofe_vesseladministration": "@outputs('VesselAdmin')",
                                                            "mmofe_vesselmanuallyoverridden": "@if(contains(string(item()),'vesselOverriddenByAdmin'), item()['vesselOverriddenByAdmin'],false)",
                                                            "mmofe_vesselpln": "@{if(contains(string(item()),'vesselName'), item()['vesselName'],null)}",
                                                            "mmofe_vesselnumber": "@{if(contains(string(item()),'vesselPln'), item()['vesselPln'],null)}",
                                                            "mmofe_vesselinterest": "@if(contains(string(item()),'risking'), if(contains(item()['risking'],'vessel'), item()['risking']['vessel'], 0), 0)",
                                                            "mmofe_vesselsize": "@{if(contains(string(item()),'vesselLength'), item()['vesselLength'],0)}",
                                                            "mmofe_weight": "@{if(contains(string(item()),'weight'), item()['weight'],null)}",
                                                            "_mmofe_customerid_value": "@variables('CustomerId')",
                                                            "_mmofe_customerid_type": "@{variables('CustomerIdType')}",
                                                            "_mmofe_presentationid_value": "@{outputs('PresentationId')}",
                                                            "_mmofe_validationstatusid_value": "@{outputs('ValidationStatusRetro')}",
                                                            "_mmofe_speciesid_value": "@{outputs('SpeciesId')}",
                                                            "_mmofe_stateid_value": "@{outputs('StateId')}",
                                                            "_mmofe_validationstatusapplicationsubmissionid_value": "@{outputs('ValidationStatusId')}"
                                                        },
                                                        "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(parameters('HostUrl')))}/tables/@{encodeURIComponent(encodeURIComponent('mmofe_landingses'))}/items"
                                                    }
                                                },
                                                "Check_Submission_Landing_Status": {
                                                    "type": "If",
                                                    "expression": {
                                                        "and": [
                                                            {
                                                                "or": [
                                                                    {
                                                                        "equals": [
                                                                            "@variables('Submission Landing Status')",
                                                                            "7d04d01c-d38f-ee11-8179-6045bd905f18"
                                                                        ]
                                                                    },
                                                                    {
                                                                        "equals": [
                                                                            "@variables('Submission Landing Status')",
                                                                            "3805cb04-d38f-ee11-8179-6045bd905f18"
                                                                        ]
                                                                    },
                                                                    {
                                                                        "equals": [
                                                                            "@variables('Submission Landing Status')",
                                                                            "954f914e-cd8e-ee11-8179-6045bd905d39"
                                                                        ]
                                                                    }
                                                                ]
                                                            },
                                                            {
                                                                "equals": [
                                                                    "@variables('Retrospective Period Complete')",
                                                                    false
                                                                ]
                                                            }
                                                        ]
                                                    },
                                                    "actions": {
                                                        "Update_a_record_10": {
                                                            "type": "ApiConnection",
                                                            "inputs": {
                                                                "host": {
                                                                    "connection": {
                                                                        "referenceName": "commondataservice"
                                                                    }
                                                                },
                                                                "method": "patch",
                                                                "body": {
                                                                    "mmofe_landingoutcomeatretrospectivecheck": 961040000
                                                                },
                                                                "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(parameters('HostUrl')))}/tables/@{encodeURIComponent(encodeURIComponent('mmofe_landingses'))}/items/@{encodeURIComponent(encodeURIComponent(outputs('Updatelanding2')))}"
                                                            }
                                                        }
                                                    },
                                                    "else": {
                                                        "actions": {}
                                                    },
                                                    "runAfter": {
                                                        "Set_Retrospective_Period_Complete": [
                                                            "Succeeded"
                                                        ]
                                                    }
                                                },
                                                "List_records_10": {
                                                    "type": "ApiConnection",
                                                    "inputs": {
                                                        "host": {
                                                            "connection": {
                                                                "referenceName": "commondataservice"
                                                            }
                                                        },
                                                        "method": "get",
                                                        "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(parameters('HostUrl')))}/tables/@{encodeURIComponent(encodeURIComponent('mmofe_landingses'))}/items",
                                                        "queries": {
                                                            "$filter": "_mmofe_documentid_value eq '@{variables('DocumentId')}' and mmofe_name eq '@{items('For_each_3')['id']}' and mmofe_numberoftotalsubmissions eq @{variables('NumberOfTotalSubmissions')}",
                                                            "$top": 1
                                                        }
                                                    },
                                                    "runAfter": {
                                                        "Create_a_new_record_8": [
                                                            "Succeeded"
                                                        ]
                                                    }
                                                },
                                                "Set_Submission_Landing_Status": {
                                                    "type": "SetVariable",
                                                    "inputs": {
                                                        "name": "Submission Landing Status",
                                                        "value": "@{body('Create_a_new_record_8')?['_mmofe_validationstatusapplicationsubmissionid_value']}"
                                                    },
                                                    "runAfter": {
                                                        "Updatelanding2": [
                                                            "Succeeded"
                                                        ]
                                                    }
                                                },
                                                "Set_Retrospective_Period_Complete": {
                                                    "type": "SetVariable",
                                                    "inputs": {
                                                        "name": "Retrospective Period Complete",
                                                        "value": "@body('Create_a_new_record_8')?['mmofe_daylimitreached']"
                                                    },
                                                    "runAfter": {
                                                        "Set_Submission_Landing_Status": [
                                                            "Succeeded"
                                                        ]
                                                    }
                                                },
                                                "Updatelanding2": {
                                                    "type": "Compose",
                                                    "inputs": "@body('List_records_10')?['value'][0]['mmofe_landingsid']",
                                                    "runAfter": {
                                                        "List_records_10": [
                                                            "Succeeded"
                                                        ]
                                                    }
                                                }
                                            }
                                        },
                                        "runAfter": {
                                            "List_records_6": [
                                                "Succeeded"
                                            ]
                                        }
                                    },
                                    "Get_Landing_Status": {
                                        "type": "Http",
                                        "inputs": {
                                            "uri": "@{parameters('BlobStorage')}/mmorefdata(PartitionKey='LandingStatus',RowKey='@{encodeURIComponent(items('For_each_3')['status'])}')",
                                            "method": "GET",
                                            "headers": {
                                                "Accept": "application/json",
                                                "x-ms-version": "2019-07-07"
                                            },
                                            "authentication": {
                                                "audience": "https://storage.azure.com",
                                                "type": "ManagedServiceIdentity"
                                            },
                                            "retryPolicy": {
                                                "type": "exponential",
                                                "count": 10,
                                                "interval": "PT7S"
                                            }
                                        },
                                        "runAfter": {
                                            "Get_Species": [
                                                "Succeeded"
                                            ]
                                        }
                                    },
                                    "Get_Presentation": {
                                        "type": "Http",
                                        "inputs": {
                                            "uri": "@{parameters('BlobStorage')}/mmorefdata(PartitionKey='Presentation',RowKey='@{encodeURIComponent(items('For_each_3')['presentation'])}')",
                                            "method": "GET",
                                            "headers": {
                                                "Accept": "application/json",
                                                "x-ms-version": "2019-07-07"
                                            },
                                            "queries": {
                                                "PartitionKey": "Presentation",
                                                "RowKey": "@{items('For_each_3')['presentation']}"
                                            },
                                            "authentication": {
                                                "audience": "https://storage.azure.com",
                                                "type": "ManagedServiceIdentity"
                                            },
                                            "path": "/Tables/@{encodeURIComponent('mmorefdata')}/entities(PartitionKey='@{encodeURIComponent('Presentation')}',RowKey='@{encodeURIComponent(items('For_each_3')['presentation'])}')",
                                            "retryPolicy": {
                                                "type": "exponential",
                                                "count": 10,
                                                "interval": "PT7S"
                                            }
                                        },
                                        "runAfter": {
                                            "Get_State": [
                                                "Succeeded"
                                            ]
                                        }
                                    },
                                    "Get_Species": {
                                        "type": "Http",
                                        "inputs": {
                                            "uri": "@{parameters('BlobStorage')}/mmorefdata(PartitionKey='Species',RowKey='@{encodeURIComponent(items('For_each_3')['species'])}')",
                                            "method": "GET",
                                            "headers": {
                                                "Accept": "application/json",
                                                "x-ms-version": "2019-07-07"
                                            },
                                            "authentication": {
                                                "audience": "https://storage.azure.com",
                                                "type": "ManagedServiceIdentity"
                                            },
                                            "retryPolicy": {
                                                "type": "exponential",
                                                "count": 10,
                                                "interval": "PT7S"
                                            }
                                        }
                                    },
                                    "Get_State": {
                                        "type": "Http",
                                        "inputs": {
                                            "uri": "@{parameters('BlobStorage')}/mmorefdata(PartitionKey='State',RowKey='@{encodeURIComponent(items('For_each_3')['state'])}')",
                                            "method": "GET",
                                            "headers": {
                                                "Accept": "application/json",
                                                "x-ms-version": "2019-07-07"
                                            },
                                            "authentication": {
                                                "audience": "https://storage.azure.com",
                                                "type": "ManagedServiceIdentity"
                                            },
                                            "retryPolicy": {
                                                "type": "exponential",
                                                "count": 10,
                                                "interval": "PT7S"
                                            }
                                        },
                                        "runAfter": {
                                            "Get_Landing_Status": [
                                                "Succeeded"
                                            ]
                                        }
                                    },
                                    "List_records_6": {
                                        "type": "ApiConnection",
                                        "inputs": {
                                            "host": {
                                                "connection": {
                                                    "referenceName": "commondataservice"
                                                }
                                            },
                                            "method": "get",
                                            "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(parameters('HostUrl')))}/tables/@{encodeURIComponent(encodeURIComponent('mmofe_landingses'))}/items",
                                            "queries": {
                                                "$filter": "_mmofe_documentid_value eq '@{variables('DocumentId')}' and mmofe_name eq '@{items('For_each_3')['id']}' and mmofe_numberoftotalsubmissions eq @{variables('NumberOfTotalSubmissions')}",
                                                "$top": 1
                                            }
                                        },
                                        "runAfter": {
                                            "Set_NumberOfTotalSubmissions": [
                                                "Succeeded"
                                            ]
                                        }
                                    },
                                    "PresentationId": {
                                        "type": "Compose",
                                        "inputs": "@body('Get_Presentation')['id']",
                                        "runAfter": {
                                            "StateId": [
                                                "Succeeded"
                                            ]
                                        }
                                    },
                                    "Set_NumberOfTotalSubmissions": {
                                        "type": "SetVariable",
                                        "inputs": {
                                            "name": "NumberOfTotalSubmissions",
                                            "value": "@if(contains(string(item()),'numberOfTotalSubmissions'), item()['numberOfTotalSubmissions'],null)"
                                        },
                                        "runAfter": {
                                            "VesselAdmin": [
                                                "Succeeded"
                                            ]
                                        }
                                    },
                                    "Source": {
                                        "type": "Compose",
                                        "inputs": "@if( contains(string( item() ),'source'), if(equals(item()['source'],'LANDING_DECLARATION'),961040001, if(equals(item()['source'],'CATCH_RECORDING'),961040002, if(equals(item()['source'],'ELOG'),961040000,null))),null)",
                                        "runAfter": {
                                            "PresentationId": [
                                                "Succeeded"
                                            ]
                                        }
                                    },
                                    "SpeciesId": {
                                        "type": "Compose",
                                        "inputs": "@body('Get_Species')['id']",
                                        "runAfter": {
                                            "Get_Presentation": [
                                                "Succeeded"
                                            ]
                                        }
                                    },
                                    "StateId": {
                                        "type": "Compose",
                                        "inputs": "@body('Get_State')['id']",
                                        "runAfter": {
                                            "ValidationStatusId": [
                                                "Succeeded"
                                            ]
                                        }
                                    },
                                    "ValidationStatusId": {
                                        "type": "Compose",
                                        "inputs": "@body('Get_Landing_Status')['id']",
                                        "runAfter": {
                                            "ValidationStatusRetro": [
                                                "Succeeded"
                                            ]
                                        }
                                    },
                                    "ValidationStatusRetro": {
                                        "type": "Compose",
                                        "inputs": "@if(and(or(equals('7d04d01c-d38f-ee11-8179-6045bd905f18', body('Get_Landing_Status')?['id']), equals('3805cb04-d38f-ee11-8179-6045bd905f18', body('Get_Landing_Status')?['id']), equals('954f914e-cd8e-ee11-8179-6045bd905d39', body('Get_Landing_Status')?['id'])),equals(item()['landingOutcomeAtSubmission'],'Success'), equals(item()['is14DayLimitReached'],false) ,true), '83770889-abc5-ea11-a812-000d3a20caa3', '')",
                                        "runAfter": {
                                            "SpeciesId": [
                                                "Succeeded"
                                            ]
                                        }
                                    },
                                    "VesselAdmin": {
                                        "type": "Compose",
                                        "inputs": "@if( contains(string( item() ),'vesselAdministration'), if(equals(item()['vesselAdministration'],'England'),961040000, if(equals(item()['vesselAdministration'],'Scotland'),961040001,if(equals(item()['vesselAdministration'],'Wales'),961040002,if(equals(item()['vesselAdministration'],'Northern Ireland'),961040003,if(equals(item()['vesselAdministration'],'Isle of Man'),961040004,if(equals(item()['vesselAdministration'],'Jersey'),961040005,if(equals(item()['vesselAdministration'],'Guernsey'),961040006,null))))))),null)",
                                        "runAfter": {
                                            "Source": [
                                                "Succeeded"
                                            ]
                                        }
                                    }
                                }
                            }
                        },
                        "runtimeConfiguration": {
                            "concurrency": {
                                "repetitions": 20
                            }
                        }
                    }
                },
                "runAfter": {
                    "Document": [
                        "Succeeded"
                    ]
                }
            },
            "Document": {
                "type": "Scope",
                "actions": {
                    "Condition_2": {
                        "type": "If",
                        "expression": {
                            "and": [
                                {
                                    "equals": [
                                        "@length(body('List_records_3')?['value'])",
                                        0
                                    ]
                                }
                            ]
                        },
                        "actions": {
                            "Check_Landings_and_Catches": {
                                "type": "If",
                                "expression": {
                                    "or": [
                                        {
                                            "greaterOrEquals": [
                                                "@length(variables('Landings'))",
                                                1
                                            ]
                                        },
                                        {
                                            "greaterOrEquals": [
                                                "@length(variables('CatchesProductsArray'))",
                                                1
                                            ]
                                        }
                                    ]
                                },
                                "actions": {
                                    "Create_Case": {
                                        "type": "ApiConnection",
                                        "inputs": {
                                            "host": {
                                                "connection": {
                                                    "referenceName": "commondataservice"
                                                }
                                            },
                                            "method": "post",
                                            "body": {
                                                "title": "@variables('DocumentNumber')",
                                                "_mmofe_casetype1_value": "@variables('CaseTypeId')",
                                                "_mmofe_casetype2_value": "@{if(greater(length(variables('CaseTypeId2')),0),variables('CaseTypeId2'),null)}",
                                                "_mmofe_documentid_value": "@variables('DocumentId')",
                                                "_customerid_value": "@variables('CustomerId')",
                                                "_customerid_type": "@variables('CustomerIdType')",
                                                "mmofe_approvalconfirmed": false,
                                                "mmofe_approvaltoproceed": false,
                                                "mmofe_caseriskatsubmission": "@if(contains(variables('Payload'), 'caseRiskAtSubmission'), variables('Payload')['caseRiskAtSubmission'], null)",
                                                "mmofe_casetoberesolved": false,
                                                "mmofe_ccdirectlanding": "@if(contains(variables('Payload'), 'isDirectLanding'), variables('Payload')['isDirectLanding'], false)",
                                                "mmofe_companyname": "@{if(contains(variables('Exporter'),'companyName'), variables('Exporter')['companyName'],'')}",
                                                "mmofe_correlationid": "@variables('CorrelationId')",
                                                "mmofe_documentnumber": "@variables('DocumentNumber')",
                                                "mmofe_exportdestinationcountry": "@{if(contains(variables('Payload'), 'exportedTo'), if(contains(variables('Payload')['exportedTo'], 'officialCountryName'), variables('Payload')['exportedTo']['officialCountryName'], null), null)}",
                                                "mmofe_failureirrespectiveofrisk": "@if(contains(variables('Payload'), 'failureIrrespectiveOfRisk'), variables('Payload')['failureIrrespectiveOfRisk'], false)",
                                                "mmofe_integrationpayload": "@{variables('Payload')}",
                                                "mmofe_iteration": "@variables('Iteration')",
                                                "mmofe_landingscloned": "@if(contains(variables('Payload'), 'landingsCloned'), variables('Payload')['landingsCloned'], null)",
                                                "mmofe_numberoffailedsubmissions": "@variables('NumberOfFailedSubmissions')",
                                                "mmofe_documentvoid": "@if(contains(variables('Payload'), 'parentDocumentVoid'), variables('Payload')['parentDocumentVoid'], null)",
                                                "mmofe_daylimitreached": false,
                                                "mmofe_speciesmanuallyoverridden": "@if(contains(variables('Payload'), 'speciesOverriddenByAdmin'), variables('Payload')['speciesOverriddenByAdmin'], false)",
                                                "mmofe_caseoutcomeatsubmission": "@if(contains(variables('Payload'), 'caseOutcomeAtSubmission'), if(contains(variables('Payload')['caseOutcomeAtSubmission'], 'Issued'), 961040000, if(contains(variables('Payload')['caseOutcomeAtSubmission'], 'Rejected'), 961040001, 1)), null)",
                                                "mmofe_totalnooflandings": "@length(variables('Landings'))",
                                                "mmofe_unblocked": "@if(contains(variables('Payload'), 'isUnblocked'), variables('Payload')['isUnblocked'], false)",
                                                "mmofe_unblockedaudit": "@{if(contains(variables('Payload'), 'audits'), variables('Payload')['audits'], null)}",
                                                "mmofe_vesselmanuallyoverridden": "@if(contains(variables('Payload'), 'vesselOverriddenByAdmin'), variables('Payload')['vesselOverriddenByAdmin'], false)",
                                                "_mmofe_clonedfrom_value": "@variables('CloneDocId')",
                                                "_mmofe_devolvedadministrationid_value": "@variables('DevolvedAdministrationId')",
                                                "_mmofe_casestatusatsubmission_value": "@{if(greater(length(variables('CaseStatusAtSubmission')),0),variables('CaseStatusAtSubmission'),null)}"
                                            },
                                            "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(parameters('HostUrl')))}/tables/@{encodeURIComponent(encodeURIComponent('incidents'))}/items"
                                        }
                                    },
                                    "Set_variable_9": {
                                        "type": "SetVariable",
                                        "inputs": {
                                            "name": "CaseId",
                                            "value": "@body('Create_Case')?['incidentid']"
                                        },
                                        "runAfter": {
                                            "Create_Case": [
                                                "Succeeded"
                                            ]
                                        }
                                    }
                                },
                                "else": {
                                    "actions": {}
                                },
                                "runAfter": {
                                    "Set_variable_5": [
                                        "Succeeded"
                                    ]
                                }
                            },
                            "Create_a_new_record": {
                                "type": "ApiConnection",
                                "inputs": {
                                    "host": {
                                        "connection": {
                                            "referenceName": "commondataservice"
                                        }
                                    },
                                    "method": "post",
                                    "body": {
                                        "mmofe_documentnumber": "@variables('DocumentNumber')",
                                        "_mmofe_customerid_value": "@variables('CustomerId')",
                                        "_mmofe_customerid_type": "@{variables('CustomerIdType')}",
                                        "mmofe_correlationid": "@variables('CorrelationId')",
                                        "mmofe_documentdate": "@{formatDateTime(variables('DocumentDate'),'yyyy-MM-ddTHH:mm:ss')}",
                                        "mmofe_name": "@variables('DocumentNumber')",
                                        "mmofe_documenturl": "@variables('DocumentUrl')",
                                        "mmofe_integrationpayload": "@{variables('Payload')}",
                                        "mmofe_personresponsible": "@{if(contains(variables('Payload'), 'exporter'), if(contains(variables('Payload')['exporter'], 'fullName'), variables('Payload')['exporter']['fullName'], if(contains(variables('Payload'), 'personResponsible'), variables('Payload')['personResponsible'], null)), null)}",
                                        "mmofe_processstatus": 961040000,
                                        "statuscode": "@if(contains(variables('Payload'), 'caseType2'), if(contains(variables('Payload')['caseType2'], 'Void by an Exporter'), 961040000, if(contains(variables('Payload')['caseType2'], 'Void by SMO/PMO'), 961040001, 1)), null)"
                                    },
                                    "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(parameters('HostUrl')))}/tables/@{encodeURIComponent(encodeURIComponent('mmofe_documents'))}/items"
                                }
                            },
                            "Set_variable_5": {
                                "type": "SetVariable",
                                "inputs": {
                                    "name": "DocumentId",
                                    "value": "@body('Create_a_new_record')?['mmofe_documentid']"
                                },
                                "runAfter": {
                                    "Create_a_new_record": [
                                        "Succeeded"
                                    ]
                                }
                            }
                        },
                        "else": {
                            "actions": {
                                "Check_to_terminate": {
                                    "type": "If",
                                    "expression": {
                                        "and": [
                                            {
                                                "equals": [
                                                    "@variables('Terminate')",
                                                    "@bool(true)"
                                                ]
                                            }
                                        ]
                                    },
                                    "actions": {
                                        "Terminate": {
                                            "type": "Terminate",
                                            "inputs": {
                                                "runStatus": "Succeeded"
                                            }
                                        }
                                    },
                                    "else": {
                                        "actions": {}
                                    },
                                    "runAfter": {
                                        "For_each_7": [
                                            "Succeeded"
                                        ]
                                    }
                                },
                                "For_each_7": {
                                    "type": "Foreach",
                                    "foreach": "@body('List_records_3')?['value']",
                                    "actions": {
                                        "Condition": {
                                            "type": "If",
                                            "expression": {
                                                "or": [
                                                    {
                                                        "equals": [
                                                            "@items('For_each_7')?['mmofe_processstatus']",
                                                            961040001
                                                        ]
                                                    },
                                                    {
                                                        "equals": [
                                                            "@items('For_each_7')?['mmofe_processstatus']",
                                                            ""
                                                        ]
                                                    },
                                                    {
                                                        "equals": [
                                                            "@items('For_each_7')?['mmofe_processstatus']",
                                                            "@null"
                                                        ]
                                                    }
                                                ]
                                            },
                                          "actions": {
                                            "Check_Case_Length": {
                                              "type": "If",
                                              "expression": {
                                                "and": [
                                                  {
                                                    "equals": [
                                                      "@length(body('Get_Case')?['value'])",
                                                      0
                                                    ]
                                                  }
                                                ]
                                              },
                                              "actions": {
                                                "Check_Landing_or_Catches": {
                                                  "type": "If",
                                                  "expression": {
                                                    "or": [
                                                      {
                                                        "greaterOrEquals": [
                                                          "@length(variables('Landings'))",
                                                          1
                                                        ]
                                                      },
                                                      {
                                                        "greaterOrEquals": [
                                                          "@length(variables('CatchesProductsArray'))",
                                                          1
                                                        ]
                                                      }
                                                    ]
                                                  },
                                                  "actions": {
                                                    "Create_Case_3": {
                                                      "type": "ApiConnection",
                                                      "inputs": {
                                                        "host": {
                                                          "connection": {
                                                            "referenceName": "commondataservice"
                                                          }
                                                        },
                                                        "method": "post",
                                                        "body": {
                                                          "title": "@variables('DocumentNumber')",
                                                          "_mmofe_casetype1_value": "@variables('CaseTypeId')",
                                                          "_mmofe_casetype2_value": "@{if(greater(length(variables('CaseTypeId2')),0),variables('CaseTypeId2'),null)}",
                                                          "_mmofe_documentid_value": "@variables('DocumentId')",
                                                          "_customerid_value": "@variables('CustomerId')",
                                                          "_customerid_type": "@variables('CustomerIdType')",
                                                          "mmofe_approvalconfirmed": false,
                                                          "mmofe_approvaltoproceed": false,
                                                          "mmofe_caseriskatsubmission": "@if(contains(variables('Payload'), 'caseRiskAtSubmission'), variables('Payload')['caseRiskAtSubmission'], null)",
                                                          "mmofe_casetoberesolved": false,
                                                          "mmofe_ccdirectlanding": "@if(contains(variables('Payload'), 'isDirectLanding'), variables('Payload')['isDirectLanding'], false)",
                                                          "mmofe_companyname": "@{if(contains(variables('Exporter'),'companyName'), variables('Exporter')['companyName'],'')}",
                                                          "mmofe_correlationid": "@variables('CorrelationId')",
                                                          "mmofe_documentnumber": "@variables('DocumentNumber')",
                                                          "mmofe_exportdestinationcountry": "@{if(contains(variables('Payload'), 'exportedTo'), if(contains(variables('Payload')['exportedTo'], 'officialCountryName'), variables('Payload')['exportedTo']['officialCountryName'], null), null)}",
                                                          "mmofe_failureirrespectiveofrisk": "@if(contains(variables('Payload'), 'failureIrrespectiveOfRisk'), variables('Payload')['failureIrrespectiveOfRisk'], false)",
                                                          "mmofe_integrationpayload": "@{variables('Payload')}",
                                                          "mmofe_iteration": "@variables('Iteration')",
                                                          "mmofe_landingscloned": "@if(contains(variables('Payload'), 'landingsCloned'), variables('Payload')['landingsCloned'], null)",
                                                          "mmofe_numberoffailedsubmissions": "@variables('NumberOfFailedSubmissions')",
                                                          "mmofe_documentvoid": "@if(contains(variables('Payload'), 'parentDocumentVoid'), variables('Payload')['parentDocumentVoid'], null)",
                                                          "mmofe_daylimitreached": false,
                                                          "mmofe_speciesmanuallyoverridden": "@if(contains(variables('Payload'), 'speciesOverriddenByAdmin'), variables('Payload')['speciesOverriddenByAdmin'], false)",
                                                          "mmofe_caseoutcomeatsubmission": "@if(contains(variables('Payload'), 'caseOutcomeAtSubmission'), if(contains(variables('Payload')['caseOutcomeAtSubmission'], 'Issued'), 961040000, if(contains(variables('Payload')['caseOutcomeAtSubmission'], 'Rejected'), 961040001, 1)), null)",
                                                          "mmofe_totalnooflandings": "@length(variables('Landings'))",
                                                          "mmofe_unblocked": "@if(contains(variables('Payload'), 'isUnblocked'), variables('Payload')['isUnblocked'], false)",
                                                          "mmofe_unblockedaudit": "@{if(contains(variables('Payload'), 'audits'), variables('Payload')['audits'], null)}",
                                                          "mmofe_vesselmanuallyoverridden": "@if(contains(variables('Payload'), 'vesselOverriddenByAdmin'), variables('Payload')['vesselOverriddenByAdmin'], false)",
                                                          "_mmofe_clonedfrom_value": "@variables('CloneDocId')",
                                                          "_mmofe_devolvedadministrationid_value": "@variables('DevolvedAdministrationId')",
                                                          "_mmofe_casestatusatsubmission_value": "@{if(greater(length(variables('CaseStatusAtSubmission')),0),variables('CaseStatusAtSubmission'),null)}"
                                                        },
                                                        "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(parameters('HostUrl')))}/tables/@{encodeURIComponent(encodeURIComponent('incidents'))}/items"
                                                      }
                                                    },
                                                    "Set_Case_Id_3": {
                                                      "type": "SetVariable",
                                                      "inputs": {
                                                        "name": "CaseId",
                                                        "value": "@body('Create_Case_3')?['incidentid']"
                                                      },
                                                      "runAfter": {
                                                        "Create_Case_3": [
                                                          "Succeeded",
                                                          "Failed"
                                                        ]
                                                      }
                                                    }
                                                  },
                                                  "else": {
                                                    "actions": {}
                                                  }
                                                }
                                              },
                                              "else": {
                                                "actions": {
                                                  "For_each_6": {
                                                    "type": "Foreach",
                                                    "foreach": "@body('Get_Case')?['value']",
                                                    "actions": {
                                                      "Check_Case_Type_2": {
                                                        "type": "If",
                                                        "expression": {
                                                          "and": [
                                                            {
                                                              "equals": [
                                                                "@items('For_each_6')?['mmofe_caseoutcomeatsubmission']",
                                                                961040001
                                                              ]
                                                            },
                                                            {
                                                              "contains": [
                                                                "@variables('Payload')",
                                                                "documentNumber"
                                                              ]
                                                            }
                                                          ]
                                                        },
                                                        "actions": {
                                                          "Create_Case_2": {
                                                            "type": "ApiConnection",
                                                            "inputs": {
                                                              "host": {
                                                                "connection": {
                                                                  "referenceName": "commondataservice"
                                                                }
                                                              },
                                                              "method": "post",
                                                              "body": {
                                                                "title": "@variables('DocumentNumber')",
                                                                "_mmofe_casetype1_value": "@variables('CaseTypeId')",
                                                                "_mmofe_casetype2_value": "@{if(greater(length(variables('CaseTypeId2')),0),variables('CaseTypeId2'),null)}",
                                                                "_mmofe_documentid_value": "@variables('DocumentId')",
                                                                "_customerid_value": "@variables('CustomerId')",
                                                                "_customerid_type": "@variables('CustomerIdType')",
                                                                "mmofe_approvalconfirmed": false,
                                                                "mmofe_approvaltoproceed": false,
                                                                "mmofe_caseriskatsubmission": "@if(contains(variables('Payload'), 'caseRiskAtSubmission'), variables('Payload')['caseRiskAtSubmission'], null)",
                                                                "mmofe_casetoberesolved": false,
                                                                "mmofe_ccdirectlanding": "@if(contains(variables('Payload'), 'isDirectLanding'), variables('Payload')['isDirectLanding'], false)",
                                                                "mmofe_companyname": "@{if(contains(variables('Exporter'),'companyName'), variables('Exporter')['companyName'],'')}",
                                                                "mmofe_correlationid": "@variables('CorrelationId')",
                                                                "mmofe_documentnumber": "@variables('DocumentNumber')",
                                                                "mmofe_exportdestinationcountry": "@{if(contains(variables('Payload'), 'exportedTo'), if(contains(variables('Payload')['exportedTo'], 'officialCountryName'), variables('Payload')['exportedTo']['officialCountryName'], null), null)}",
                                                                "mmofe_failureirrespectiveofrisk": "@if(contains(variables('Payload'), 'failureIrrespectiveOfRisk'), variables('Payload')['failureIrrespectiveOfRisk'], false)",
                                                                "mmofe_integrationpayload": "@{variables('Payload')}",
                                                                "mmofe_iteration": "@variables('Iteration')",
                                                                "mmofe_landingscloned": "@if(contains(variables('Payload'), 'landingsCloned'), variables('Payload')['landingsCloned'], null)",
                                                                "mmofe_numberoffailedsubmissions": "@variables('NumberOfFailedSubmissions')",
                                                                "mmofe_documentvoid": "@if(contains(variables('Payload'), 'parentDocumentVoid'), variables('Payload')['parentDocumentVoid'], null)",
                                                                "mmofe_daylimitreached": false,
                                                                "mmofe_speciesmanuallyoverridden": "@if(contains(variables('Payload'), 'speciesOverriddenByAdmin'), variables('Payload')['speciesOverriddenByAdmin'], false)",
                                                                "mmofe_caseoutcomeatsubmission": "@if(contains(variables('Payload'), 'caseOutcomeAtSubmission'), if(contains(variables('Payload')['caseOutcomeAtSubmission'], 'Issued'), 961040000, if(contains(variables('Payload')['caseOutcomeAtSubmission'], 'Rejected'), 961040001, 1)), null)",
                                                                "mmofe_totalnooflandings": "@length(variables('Landings'))",
                                                                "mmofe_unblocked": "@if(contains(variables('Payload'), 'isUnblocked'), variables('Payload')['isUnblocked'], false)",
                                                                "mmofe_unblockedaudit": "@{if(contains(variables('Payload'), 'audits'), variables('Payload')['audits'], null)}",
                                                                "mmofe_vesselmanuallyoverridden": "@if(contains(variables('Payload'), 'vesselOverriddenByAdmin'), variables('Payload')['vesselOverriddenByAdmin'], false)",
                                                                "_mmofe_clonedfrom_value": "@variables('CloneDocId')",
                                                                "_mmofe_devolvedadministrationid_value": "@variables('DevolvedAdministrationId')",
                                                                "_mmofe_casestatusatsubmission_value": "@{if(greater(length(variables('CaseStatusAtSubmission')),0),variables('CaseStatusAtSubmission'),null)}"
                                                              },
                                                              "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(parameters('HostUrl')))}/tables/@{encodeURIComponent(encodeURIComponent('incidents'))}/items"
                                                            }
                                                          },
                                                          "Set_Case_Id_2": {
                                                            "type": "SetVariable",
                                                            "inputs": {
                                                              "name": "CaseId",
                                                              "value": "@body('Create_Case_2')?['incidentid']"
                                                            },
                                                            "runAfter": {
                                                              "Create_Case_2": [
                                                                "Succeeded"
                                                              ]
                                                            }
                                                          }
                                                        },
                                                        "else": {
                                                          "actions": {
                                                            "CaseId": {
                                                              "type": "SetVariable",
                                                              "inputs": {
                                                                "name": "CaseId",
                                                                "value": "@items('For_each_6')?['incidentid']"
                                                              }
                                                            }
                                                          }
                                                        }
                                                      }
                                                    }
                                                  }
                                                }
                                              },
                                              "runAfter": {
                                                "Get_Case": [
                                                  "Succeeded"
                                                ]
                                              }
                                            },
                                            "List_records_12": {
                                              "type": "ApiConnection",
                                              "inputs": {
                                                "host": {
                                                  "connection": {
                                                    "referenceName": "commondataservice"
                                                  }
                                                },
                                                "method": "get",
                                                "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(parameters('HostUrl')))}/tables/@{encodeURIComponent(encodeURIComponent('mmofe_landingses'))}/items",
                                                "queries": {
                                                  "$filter": "_mmofe_documentid_value eq '@{variables('DocumentId')}'"
                                                }
                                              },
                                              "runAfter": {
                                                "Check_Case_Length": [
                                                  "Succeeded"
                                                ]
                                              }
                                            },
                                            "List_records_13": {
                                              "runAfter": {
                                                "List_records_12": [
                                                  "Succeeded"
                                                ]
                                              },
                                              "type": "ApiConnection",
                                              "inputs": {
                                                "host": {
                                                  "connection": {
                                                    "referenceName": "commondataservice"
                                                  }
                                                },
                                                "method": "get",
                                                "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(parameters('HostUrl')))}/tables/@{encodeURIComponent(encodeURIComponent('mmofe_documents'))}/items",
                                                "queries": {
                                                  "$filter": "mmofe_documentnumber eq '@{variables('DocumentNumber')}'",
                                                  "$top": 1
                                                }
                                              }
                                            },
                                            "If_journey_is_CC": {
                                              "type": "If",
                                              "expression": {
                                                "and": [
                                                  {
                                                    "greater": [
                                                      "@length(body('List_records_12')?['value'])",
                                                      0
                                                    ]
                                                  },
                                                  {
                                                    "or": [
                                                      {
                                                        "equals": [
                                                          "@body('List_records_13')?['value'][0]['statuscode']",
                                                          961040001
                                                        ]
                                                      },
                                                      {
                                                        "equals": [
                                                          "@body('List_records_13')?['value'][0]['statuscode']",
                                                          961040000
                                                        ]
                                                      }
                                                    ]
                                                  }
                                                ]
                                              },
                                              "actions": {
                                                "For_each_5": {
                                                  "type": "Foreach",
                                                  "foreach": "@body('List_records_12')?['value']",
                                                  "actions": {
                                                    "Scope_2": {
                                                      "type": "Scope",
                                                      "actions": {
                                                        "Condition_10": {
                                                          "type": "If",
                                                          "expression": {
                                                            "and": [
                                                              {
                                                                "greater": [
                                                                  "@length(body('List_records_12')?['value'])",
                                                                  "@variables('Voided Landing Index')"
                                                                ]
                                                              }
                                                            ]
                                                          },
                                                          "actions": {
                                                            "Increment_variable": {
                                                              "type": "IncrementVariable",
                                                              "inputs": {
                                                                "name": "Voided Landing Index",
                                                                "value": 1
                                                              }
                                                            }
                                                          },
                                                          "else": {
                                                            "actions": {}
                                                          },
                                                          "runAfter": {
                                                            "Update_a_Landing_record": [
                                                              "Succeeded"
                                                            ]
                                                          }
                                                        },
                                                        "UpdateLandingId2": {
                                                          "type": "Compose",
                                                          "inputs": "@body('List_records_12')?['value'][variables('Voided Landing Index')]['mmofe_landingsid']"
                                                        },
                                                        "Update_a_Landing_record": {
                                                          "type": "ApiConnection",
                                                          "inputs": {
                                                            "host": {
                                                              "connection": {
                                                                "referenceName": "commondataservice"
                                                              }
                                                            },
                                                            "method": "patch",
                                                            "body": {
                                                              "mmofe_daylimitreached": "True",
                                                              "statuscode": "@if(contains(variables('Payload'), 'caseType2'), if(contains(variables('Payload')['caseType2'], 'Void by an Exporter'), 961040000, if(contains(variables('Payload')['caseType2'], 'Void by SMO/PMO'), 961040001, 1)), outputs('Status_Reason'))"
                                                            },
                                                            "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(parameters('HostUrl')))}/tables/@{encodeURIComponent(encodeURIComponent('mmofe_landingses'))}/items/@{encodeURIComponent(encodeURIComponent(outputs('UpdateLandingId2')))}"
                                                          },
                                                          "runAfter": {
                                                            "UpdateLandingId2": [
                                                              "Succeeded"
                                                            ]
                                                          }
                                                        }
                                                      }
                                                    }
                                                  }
                                                }
                                              },
                                              "else": {
                                                "actions": {}
                                              },
                                              "runAfter": {
                                                "List_records_13": [
                                                  "Succeeded"
                                                ]
                                              }
                                            },
                                            "Get_Case": {
                                              "type": "ApiConnection",
                                              "inputs": {
                                                "host": {
                                                  "connection": {
                                                    "referenceName": "commondataservice"
                                                  }
                                                },
                                                "method": "get",
                                                "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(parameters('HostUrl')))}/tables/@{encodeURIComponent(encodeURIComponent('incidents'))}/items",
                                                "queries": {
                                                  "$filter": "_mmofe_documentid_value eq '@{variables('DocumentId')}'",
                                                  "$orderby": "createdon desc",
                                                  "$top": 1
                                                }
                                              },
                                              "runAfter": {
                                                "Update_a_record_2": [
                                                  "Succeeded",
                                                  "Failed"
                                                ]
                                              }
                                            },
                                            "Set_variable_6": {
                                              "type": "SetVariable",
                                              "inputs": {
                                                "name": "DocumentId",
                                                "value": "@items('For_each_7')?['mmofe_documentid']"
                                              }
                                            },
                                            "Status_Reason": {
                                              "type": "Compose",
                                              "inputs": "@body('List_records_3')?['value'][0]['statuscode']",
                                              "runAfter": {
                                                "Set_variable_6": [
                                                  "Succeeded"
                                                ]
                                              }
                                            },
                                            "Update_a_record_2": {
                                              "type": "ApiConnection",
                                              "inputs": {
                                                "host": {
                                                  "connection": {
                                                    "referenceName": "commondataservice"
                                                  }
                                                },
                                                "method": "patch",
                                                "body": {
                                                  "mmofe_documenturl": "@{if(equals(variables('DocumentUrl'),''),body('List_records_3')?['value'][0]['mmofe_documenturl'],variables('DocumentUrl'))}",
                                                  "mmofe_integrationpayload": "@{string(variables('Payload'))}",
                                                  "statuscode": "@if(contains(variables('Payload'), 'caseType2'), if(contains(variables('Payload')['caseType2'], 'Void by an Exporter'), 961040000, if(contains(variables('Payload')['caseType2'], 'Void by SMO/PMO'), 961040001, 1)), outputs('Status_Reason'))",
                                                  "_ownerid_type": ""
                                                },
                                                "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(parameters('HostUrl')))}/tables/@{encodeURIComponent(encodeURIComponent('mmofe_documents'))}/items/@{encodeURIComponent(encodeURIComponent(items('For_each_7')?['mmofe_documentid']))}"
                                              },
                                              "runAfter": {
                                                "Status_Reason": [
                                                  "Succeeded"
                                                ]
                                              }
                                            }
                                          },
                                            "else": {
                                                "actions": {
                                                    "Set_variable_17": {
                                                        "type": "SetVariable",
                                                        "inputs": {
                                                            "name": "Terminate",
                                                            "value": "@bool(true)"
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "runAfter": {
                            "List_records_3": [
                                "Succeeded"
                            ]
                        }
                    },
                    "List_records_3": {
                        "type": "ApiConnection",
                        "inputs": {
                            "host": {
                                "connection": {
                                    "referenceName": "commondataservice"
                                }
                            },
                            "method": "get",
                            "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(parameters('HostUrl')))}/tables/@{encodeURIComponent(encodeURIComponent('mmofe_documents'))}/items",
                            "queries": {
                                "$filter": "mmofe_documentnumber eq '@{variables('DocumentNumber')}'",
                                "$top": 1
                            }
                        }
                    }
                },
                "runAfter": {
                    "Create_or_Retrieve_Exporter_and_Set_CustomerId": [
                        "Succeeded"
                    ],
                    "Retrieve_Case_Types_and_Set_CaseStatusAtSubmission": [
                        "Succeeded"
                    ],
                    "Retrieve_Case_Types_and_Set_CaseTypeId": [
                        "Succeeded"
                    ],
                    "Retrieve_Case_Types_and_Set_CaseTypeId2": [
                        "Succeeded"
                    ],
                    "Retrieve_Devolved_Administration_and_Set_DevolvedAdministrationId": [
                        "Succeeded"
                    ]
                }
            },
            "Initialise_AccountId": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "AccountId",
                            "type": "string"
                        }
                    ]
                },
                "runAfter": {
                    "Set_ContactId": [
                        "Succeeded"
                    ]
                }
            },
            "Initialise_CaseId": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "CaseId",
                            "type": "string"
                        }
                    ]
                },
                "runAfter": {
                    "Set_DocumentNumber": [
                        "Succeeded"
                    ]
                }
            },
            "Initialise_CaseTypeId": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "CaseTypeId",
                            "type": "string"
                        }
                    ]
                },
                "runAfter": {
                    "Set_DevolvedAdministrationName": [
                        "Succeeded"
                    ]
                }
            },
            "Initialise_CaseTypeId2": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "CaseTypeId2",
                            "type": "string"
                        }
                    ]
                },
                "runAfter": {
                    "Initialise_CaseTypeId": [
                        "Succeeded"
                    ]
                }
            },
            "Initialise_CaseTypeName": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "CaseTypeName",
                            "type": "string"
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_CaseStatusAtSubmission": [
                        "Succeeded"
                    ]
                }
            },
            "Initialise_CaseTypeName2": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "CaseTypeName2",
                            "type": "string"
                        }
                    ]
                },
                "runAfter": {
                    "Set_CaseTypeName": [
                        "Succeeded"
                    ]
                }
            },
            "Initialise_CaseTypeName4": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "CaseTypeName4",
                            "type": "string"
                        }
                    ]
                },
                "runAfter": {
                    "Initialise_CaseTypeName2": [
                        "Succeeded"
                    ]
                }
            },
            "Initialise_Catches_Products_Array": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "CatchesProductsArray",
                            "type": "array",
                            "value": []
                        }
                    ]
                },
                "runAfter": {
                    "Set_Landings_Array": [
                        "Succeeded"
                    ]
                }
            },
            "Initialise_ContactId": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "ContactId",
                            "type": "string"
                        }
                    ]
                },
                "runAfter": {
                    "Set_ExporterNumber": [
                        "Succeeded"
                    ]
                }
            },
            "Initialise_CorrelationId": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "CorrelationId",
                            "type": "string"
                        }
                    ]
                },
                "runAfter": {
                    "Set_Validation_Object": [
                        "Succeeded"
                    ]
                }
            },
            "Initialise_CustomerId": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "CustomerId",
                            "type": "string"
                        }
                    ]
                },
                "runAfter": {
                    "Initialise_DocumentId": [
                        "Succeeded"
                    ]
                }
            },
            "Initialise_CustomerIdType": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "CustomerIdType",
                            "type": "string"
                        }
                    ]
                },
                "runAfter": {
                    "TODO_REMOVE:_Initialise_ExporterNumber": [
                        "Succeeded"
                    ]
                }
            },
            "Initialise_DevolvedAdministrationId": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "DevolvedAdministrationId",
                            "type": "string"
                        }
                    ]
                },
                "runAfter": {
                    "Set_DocumentUrl": [
                        "Succeeded"
                    ]
                }
            },
            "Initialise_DevolvedAdministrationName": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "DevolvedAdministrationName",
                            "type": "string"
                        }
                    ]
                },
                "runAfter": {
                    "Initialise_DevolvedAdministrationId": [
                        "Succeeded"
                    ]
                }
            },
            "Initialise_DocumentDate": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "DocumentDate",
                            "type": "string"
                        }
                    ]
                },
                "runAfter": {
                    "Initialise_CaseId": [
                        "Succeeded"
                    ]
                }
            },
            "Initialise_DocumentId": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "DocumentId",
                            "type": "string"
                        }
                    ]
                },
                "runAfter": {
                    "Set_CorrelationId": [
                        "Succeeded"
                    ]
                }
            },
            "Initialise_DocumentNumber": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "DocumentNumber",
                            "type": "string"
                        }
                    ]
                },
                "runAfter": {
                    "Set_AccountId": [
                        "Succeeded"
                    ]
                }
            },
            "Initialise_DocumentUrl": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "DocumentUrl",
                            "type": "string"
                        }
                    ]
                },
                "runAfter": {
                    "Set_DocumentDate": [
                        "Succeeded"
                    ]
                }
            },
            "Initialise_Exporter_Object": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "Exporter",
                            "type": "object",
                            "value": {}
                        }
                    ]
                },
                "runAfter": {
                    "Set_Catches_Products_Array": [
                        "Succeeded"
                    ]
                }
            },
            "Initialise_IsLandingsUpsert": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "IsLandingsUpsert",
                            "type": "boolean",
                            "value": false
                        }
                    ]
                },
                "runAfter": {
                    "Set_CaseTypeName4": [
                        "Succeeded"
                    ]
                }
            },
            "Initialise_Iteration": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "Iteration",
                            "type": "integer"
                        }
                    ]
                },
                "runAfter": {
                    "Initialise_IsLandingsUpsert": [
                        "Succeeded"
                    ]
                }
            },
            "Initialise_Landings_Array": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "Landings",
                            "type": "array",
                            "value": []
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_Voided_Landing_Array": [
                        "Succeeded"
                    ]
                }
            },
            "Initialise_NumberOfFailedSubmissions": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "NumberOfFailedSubmissions",
                            "type": "integer"
                        }
                    ]
                },
                "runAfter": {
                    "Set_Iteration": [
                        "Succeeded"
                    ]
                }
            },
            "Initialise_Payload": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "Payload",
                            "type": "object",
                            "value": {}
                        }
                    ]
                },
                "runAfter": {
                    "Tranform_Payload": [
                        "Succeeded"
                    ]
                }
            },
            "Initialise_Validation_Object": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "Validation",
                            "type": "object",
                            "value": {}
                        }
                    ]
                },
                "runAfter": {
                    "Set_Exporter_Object": [
                        "Succeeded"
                    ]
                }
            },
            "Initialize_CaseStatusAtSubmission": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "CaseStatusAtSubmission",
                            "type": "string"
                        }
                    ]
                },
                "runAfter": {
                    "Initialise_CaseTypeId2": [
                        "Succeeded"
                    ]
                }
            },
            "Initialize_CloneDocId": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "CloneDocId",
                            "type": "string"
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_Retrospective_Period_Complete": [
                        "Succeeded"
                    ]
                }
            },
            "Initialize_CloneDocNo": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "CloneDocNo",
                            "type": "string"
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_CloneDocId": [
                        "Succeeded"
                    ]
                }
            },
            "Initialize_NumberOfTotalSubmissions": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "NumberOfTotalSubmissions",
                            "type": "integer"
                        }
                    ]
                },
                "runAfter": {
                    "Set_NumberOfFailedSubmissions": [
                        "Succeeded"
                    ]
                }
            },
            "Initialize_Temination": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "Terminate",
                            "type": "boolean",
                            "value": "@bool(false)"
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_NumberOfTotalSubmissions": [
                        "Succeeded"
                    ]
                }
            },
            "Initialize_Submission_Landing_Status": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "Submission Landing Status",
                            "type": "string"
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_Temination": [
                        "Succeeded"
                    ]
                }
            },
            "Initialize_Retrospective_Period_Complete": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "Retrospective Period Complete",
                            "type": "boolean"
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_Submission_Landing_Status": [
                        "Succeeded"
                    ]
                }
            },
            "Is_Cloned_Document": {
                "type": "If",
                "expression": {
                    "and": [
                        {
                            "not": {
                                "equals": [
                                    "@variables('CloneDocNo')",
                                    "@null"
                                ]
                            }
                        },
                        {
                            "not": {
                                "equals": [
                                    "@variables('CloneDocNo')",
                                    ""
                                ]
                            }
                        }
                    ]
                },
                "actions": {
                    "Get_ClonedDocument": {
                        "type": "ApiConnection",
                        "inputs": {
                            "host": {
                                "connection": {
                                    "referenceName": "commondataservice"
                                }
                            },
                            "method": "get",
                            "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(parameters('HostUrl')))}/tables/@{encodeURIComponent(encodeURIComponent('mmofe_documents'))}/items",
                            "queries": {
                                "$filter": "mmofe_name eq '@{variables('CloneDocNo')}'",
                                "$top": 1
                            }
                        }
                    },
                    "Set_CloneDocId": {
                        "type": "SetVariable",
                        "inputs": {
                            "name": "CloneDocId",
                            "value": "@{body('Get_ClonedDocument')?['value'][0]['mmofe_documentid']}"
                        },
                        "runAfter": {
                            "Get_ClonedDocument": [
                                "Succeeded"
                            ]
                        }
                    }
                },
                "else": {
                    "actions": {}
                },
                "runAfter": {
                    "Set_CloneDocNo": [
                        "Succeeded"
                    ]
                }
            },
            "Map_Casetype2_for_PS_and_SD": {
                "type": "If",
                "expression": {
                    "and": [
                        {
                            "not": {
                                "contains": [
                                    "@variables('Payload')",
                                    "caseStatusAtSubmission"
                                ]
                            }
                        }
                    ]
                },
                "actions": {
                    "Set_CaseTypeName2": {
                        "type": "Scope",
                        "actions": {
                            "Get_CaseTypeName_from_either_Case_or_Landing_Status": {
                                "type": "Compose",
                                "inputs": "@if(contains(variables('Payload'),'caseType2'),variables('Payload')['caseType2'],first(variables('Landings'))['status'])"
                            },
                            "Switch_3": {
                                "type": "Switch",
                                "expression": "@outputs('Get_CaseTypeName_from_either_Case_or_Landing_Status')",
                                "default": {
                                    "actions": {
                                        "Set_variable_15": {
                                            "type": "SetVariable",
                                            "inputs": {
                                                "name": "CaseTypeName2",
                                                "value": "@{outputs('Get_CaseTypeName_from_either_Case_or_Landing_Status')}"
                                            }
                                        }
                                    }
                                },
                                "cases": {
                                    "Case": {
                                        "actions": {
                                            "Set_variable_16": {
                                                "type": "SetVariable",
                                                "inputs": {
                                                    "name": "CaseTypeName2",
                                                    "value": "Real Time Validation - Successful"
                                                }
                                            }
                                        },
                                        "case": "Validation Success"
                                    },
                                    "Case_2": {
                                        "actions": {
                                            "Set_variable_20": {
                                                "type": "SetVariable",
                                                "inputs": {
                                                    "name": "CaseTypeName2",
                                                    "value": "Pending Landing Data"
                                                }
                                            }
                                        },
                                        "case": "Pending Landing Data"
                                    },
                                    "Case_3": {
                                        "actions": {
                                            "Set_variable_19": {
                                                "type": "SetVariable",
                                                "inputs": {
                                                    "name": "CaseTypeName2",
                                                    "value": "Real Time Validation - Overuse Failure"
                                                }
                                            }
                                        },
                                        "case": "Validation Failure - Overuse"
                                    }
                                },
                                "runAfter": {
                                    "Get_CaseTypeName_from_either_Case_or_Landing_Status": [
                                        "Succeeded"
                                    ]
                                }
                            }
                        }
                    }
                },
                "else": {
                    "actions": {}
                },
                "runAfter": {
                    "Is_Cloned_Document": [
                        "Succeeded"
                    ]
                }
            },
            "Parse_Payload_to_Object": {
                "type": "Compose",
                "description": "Create a JSON object based on the payload provided. N.B. we're not using the Parse JSON operation as we expect more than 1 payload type.",
                "inputs": "@json(base64ToString(triggerBody()?['ContentData']))",
                "runAfter": {}
            },
            "Retrieve_Case_Types_and_Set_CaseStatusAtSubmission": {
                "type": "Scope",
                "actions": {
                    "Condition_6": {
                        "type": "If",
                        "expression": {
                            "and": [
                                {
                                    "not": {
                                        "equals": [
                                            "@body('Get_caseStatusAtSubmission')?['value']?[0]?['RowKey']",
                                            "@null"
                                        ]
                                    }
                                }
                            ]
                        },
                        "actions": {
                            "Set_variable_3": {
                                "type": "SetVariable",
                                "inputs": {
                                    "name": "CaseStatusAtSubmission",
                                    "value": "@{body('Get_caseStatusAtSubmission')?['value']?[0]?['id']}"
                                }
                            }
                        },
                        "else": {
                            "actions": {}
                        },
                        "runAfter": {
                            "Get_caseStatusAtSubmission": [
                                "Succeeded"
                            ]
                        }
                    },
                    "Get_caseStatusAtSubmission": {
                        "type": "Http",
                        "inputs": {
                            "uri": "@{parameters('BlobStorage')}/mmorefdata",
                            "method": "GET",
                            "headers": {
                                "Accept": "application/json",
                                "x-ms-version": "2019-07-07"
                            },
                            "queries": {
                                "$filter": "PartitionKey eq 'CaseType' and RowKey eq '@{variables('CaseTypeName4')}'"
                            },
                            "authentication": {
                                "audience": "https://storage.azure.com",
                                "type": "ManagedServiceIdentity"
                            },
                            "retryPolicy": {
                                "type": "exponential",
                                "count": 10,
                                "interval": "PT7S"
                            }
                        }
                    }
                },
                "runAfter": {
                    "Map_Casetype2_for_PS_and_SD": [
                        "Succeeded"
                    ]
                }
            },
            "Retrieve_Case_Types_and_Set_CaseTypeId": {
                "type": "Scope",
                "actions": {
                    "Condition_5": {
                        "type": "If",
                        "expression": {
                            "and": [
                                {
                                    "not": {
                                        "equals": [
                                            "@body('Get_CaseType')?['value']?[0]?['RowKey']",
                                            "@null"
                                        ]
                                    }
                                }
                            ]
                        },
                        "actions": {
                            "Set_CaseTypeId": {
                                "type": "SetVariable",
                                "inputs": {
                                    "name": "CaseTypeId",
                                    "value": "@{body('Get_CaseType')?['value']?[0]?['id']}"
                                }
                            }
                        },
                        "else": {
                            "actions": {
                                "Default_CaseTypeId": {
                                    "type": "SetVariable",
                                    "inputs": {
                                        "name": "CaseTypeId",
                                        "value": "00000000-0000-0000-0000-000000000000"
                                    }
                                }
                            }
                        },
                        "runAfter": {
                            "Get_CaseType": [
                                "Succeeded"
                            ]
                        }
                    },
                    "Get_CaseType": {
                        "type": "Http",
                        "inputs": {
                            "uri": "@{parameters('BlobStorage')}/mmorefdata",
                            "method": "GET",
                            "headers": {
                                "Accept": "application/json",
                                "x-ms-version": "2019-07-07"
                            },
                            "queries": {
                                "$filter": "PartitionKey eq 'CaseType' and RowKey eq '@{variables('CaseTypeName')}'"
                            },
                            "authentication": {
                                "audience": "https://storage.azure.com",
                                "type": "ManagedServiceIdentity"
                            },
                            "retryPolicy": {
                                "type": "exponential",
                                "count": 10,
                                "interval": "PT7S"
                            }
                        }
                    }
                },
                "runAfter": {
                    "Map_Casetype2_for_PS_and_SD": [
                        "Succeeded"
                    ]
                }
            },
            "Retrieve_Case_Types_and_Set_CaseTypeId2": {
                "type": "Scope",
                "actions": {
                    "Condition_3": {
                        "type": "If",
                        "expression": {
                            "and": [
                                {
                                    "not": {
                                        "equals": [
                                            "@body('Get_CaseType2')?['value']?[0]?['RowKey']",
                                            "@null"
                                        ]
                                    }
                                }
                            ]
                        },
                        "actions": {
                            "Set_caseType2_ID": {
                                "type": "SetVariable",
                                "inputs": {
                                    "name": "CaseTypeId2",
                                    "value": "@{body('Get_CaseType2')?['value']?[0]?['id']}"
                                }
                            }
                        },
                        "else": {
                            "actions": {}
                        },
                        "runAfter": {
                            "Get_CaseType2": [
                                "Succeeded"
                            ]
                        }
                    },
                    "Get_CaseType2": {
                        "type": "Http",
                        "inputs": {
                            "uri": "@{parameters('BlobStorage')}/mmorefdata",
                            "method": "GET",
                            "headers": {
                                "Accept": "application/json",
                                "x-ms-version": "2019-07-07"
                            },
                            "queries": {
                                "$filter": "PartitionKey eq 'CaseType' and RowKey eq '@{variables('CaseTypeName2')}'"
                            },
                            "authentication": {
                                "audience": "https://storage.azure.com",
                                "type": "ManagedServiceIdentity"
                            },
                            "retryPolicy": {
                                "type": "exponential",
                                "count": 10,
                                "interval": "PT7S"
                            }
                        }
                    }
                },
                "runAfter": {
                    "Map_Casetype2_for_PS_and_SD": [
                        "Succeeded"
                    ]
                }
            },
            "Retrieve_Devolved_Administration_and_Set_DevolvedAdministrationId": {
                "type": "Scope",
                "actions": {
                    "Condition_4": {
                        "type": "If",
                        "expression": {
                            "and": [
                                {
                                    "not": {
                                        "equals": [
                                            "@body('Get_Devolved_Administration')?['value']?[0]?['RowKey']",
                                            "@null"
                                        ]
                                    }
                                }
                            ]
                        },
                        "actions": {
                            "Set_Devolved_Administration_ID": {
                                "type": "SetVariable",
                                "inputs": {
                                    "name": "DevolvedAdministrationId",
                                    "value": "@{body('Get_Devolved_Administration')?['value']?[0]?['id']}"
                                }
                            }
                        },
                        "else": {
                            "actions": {}
                        },
                        "runAfter": {
                            "Get_Devolved_Administration": [
                                "Succeeded"
                            ]
                        }
                    },
                    "Get_Devolved_Administration": {
                        "type": "Http",
                        "inputs": {
                            "uri": "@{parameters('BlobStorage')}/mmorefdata",
                            "method": "GET",
                            "headers": {
                                "Accept": "application/json",
                                "x-ms-version": "2019-07-07"
                            },
                            "queries": {
                                "$filter": "PartitionKey eq 'DevolvedAdministrations' and RowKey eq '@{variables('DevolvedAdministrationName')}'"
                            },
                            "authentication": {
                                "audience": "https://storage.azure.com",
                                "type": "ManagedServiceIdentity"
                            },
                            "retryPolicy": {
                                "type": "exponential",
                                "count": 10,
                                "interval": "PT7S"
                            }
                        }
                    }
                },
                "runAfter": {
                    "Map_Casetype2_for_PS_and_SD": [
                        "Succeeded"
                    ]
                }
            },
            "Set_AccountId": {
                "type": "SetVariable",
                "inputs": {
                    "name": "AccountId",
                    "value": "@{if(contains(variables('Exporter'),'accountId'), variables('Exporter')['accountId'],'')}"
                },
                "runAfter": {
                    "Initialise_AccountId": [
                        "Succeeded"
                    ]
                }
            },
            "Set_CaseTypeName": {
                "type": "SetVariable",
                "description": "If the root of the payload is an array, then this implies a Landing Detail payload, which is a Catch Certificate Case Type",
                "inputs": {
                    "name": "CaseTypeName",
                    "value": "@{if( contains(variables('Payload'),'caseType1'), if(equals(variables('Payload')['caseType1'], 'CC'),'Catch Certificate',if(equals(variables('Payload')['caseType1'],'PS'),'Processing Statement',if(equals(variables('Payload')['caseType1'],'SD'),'Storage Document',''))),'Catch Certificate')}"
                },
                "runAfter": {
                    "Initialise_CaseTypeName": [
                        "Succeeded"
                    ]
                }
            },
            "Set_CaseTypeName4": {
                "type": "SetVariable",
                "inputs": {
                    "name": "CaseTypeName4",
                    "value": "@{if(contains(variables('Payload'),'caseStatusAtSubmission'),variables('Payload')['caseStatusAtSubmission'],null)}"
                },
                "runAfter": {
                    "Initialise_CaseTypeName4": [
                        "Succeeded"
                    ]
                }
            },
            "Set_Catches_Products_Array": {
                "type": "SetVariable",
                "inputs": {
                    "name": "CatchesProductsArray",
                    "value": "@if( contains(variables('Payload'), 'catches'), variables('Payload')['catches'], if( contains(variables('Payload'), 'products'), variables('Payload')['products'], null))"
                },
                "runAfter": {
                    "Initialise_Catches_Products_Array": [
                        "Succeeded"
                    ]
                }
            },
            "Set_CloneDocNo": {
                "type": "SetVariable",
                "inputs": {
                    "name": "CloneDocNo",
                    "value": "@{if(contains(variables('Payload'),'clonedFrom'),variables('Payload')['clonedFrom'], null)}"
                },
                "runAfter": {
                    "Initialize_CloneDocNo": [
                        "Succeeded"
                    ]
                }
            },
            "Set_ContactId": {
                "type": "SetVariable",
                "inputs": {
                    "name": "ContactId",
                    "value": "@{if(contains(variables('Exporter'),'contactid'), variables('Exporter')['contactId'],'')}"
                },
                "runAfter": {
                    "Initialise_ContactId": [
                        "Succeeded"
                    ]
                }
            },
            "Set_CorrelationId": {
                "type": "SetVariable",
                "inputs": {
                    "name": "CorrelationId",
                    "value": "@{if(contains(variables('Payload'),'_correlationId'),variables('Payload')['_correlationId'],if( greater(length(variables('Landings')),0), first( variables('Landings'))['_correlationId'],''))}"
                },
                "runAfter": {
                    "Initialise_CorrelationId": [
                        "Succeeded"
                    ]
                }
            },
            "Set_DevolvedAdministrationName": {
                "type": "SetVariable",
                "inputs": {
                    "name": "DevolvedAdministrationName",
                    "value": "@{if(contains(variables('Payload'),'da'),variables('Payload')['da'],null)}"
                },
                "runAfter": {
                    "Initialise_DevolvedAdministrationName": [
                        "Succeeded"
                    ]
                }
            },
            "Set_DocumentDate": {
                "type": "SetVariable",
                "inputs": {
                    "name": "DocumentDate",
                    "value": "@{if(contains(variables('Payload'),'documentDate'),variables('Payload')['documentDate'],if( greater(length(variables('Landings')),0), first( variables('Landings'))['documentDate'],''))}"
                },
                "runAfter": {
                    "Initialise_DocumentDate": [
                        "Succeeded"
                    ]
                }
            },
            "Set_DocumentNumber": {
                "type": "SetVariable",
                "inputs": {
                    "name": "DocumentNumber",
                    "value": "@{if(contains(variables('Payload'),'documentNumber'),variables('Payload')['documentNumber'],first( variables('Landings'))['documentNumber'])}"
                },
                "runAfter": {
                    "Initialise_DocumentNumber": [
                        "Succeeded"
                    ]
                }
            },
            "Set_DocumentUrl": {
                "type": "SetVariable",
                "inputs": {
                    "name": "DocumentUrl",
                    "value": "@{if(contains(variables('Payload'),'documentUrl'),variables('Payload')['documentUrl'],if(and(greater(length(variables('Landings')),0),contains(variables('Landings'),'documentUrl') ), first( variables('Landings'))['documentUrl'],''))}"
                },
                "runAfter": {
                    "Initialise_DocumentUrl": [
                        "Succeeded"
                    ]
                }
            },
            "Set_ExporterNumber": {
                "type": "SetVariable",
                "inputs": {
                    "name": "ExporterNumber",
                    "value": "@{if(contains(variables('Exporter'),'exporterNumber'), variables('Exporter')['exporterNumber'],'')}"
                },
                "runAfter": {
                    "Initialise_CustomerIdType": [
                        "Succeeded"
                    ]
                }
            },
            "Set_Exporter_Object": {
                "type": "SetVariable",
                "description": "Sets the Exporter object using the exporter or exporterDetails property in the Payload object",
                "inputs": {
                    "name": "Exporter",
                    "value": "@if(contains(variables('Payload'),'exporter'),variables('Payload')['exporter'],if(contains(variables('Payload'),'exporterDetails'),variables('Payload')['exporterDetails'], if(contains(variables('Payload'),'exporterId'), json(concat('{','exporterNumber:',variables('Payload')['exporterId'])), first(variables('Landings'))['exporter'])))"
                },
                "runAfter": {
                    "Initialise_Exporter_Object": [
                        "Succeeded"
                    ]
                }
            },
            "Set_Iteration": {
                "type": "SetVariable",
                "inputs": {
                    "name": "Iteration",
                    "value": "@if(contains(variables('Payload'),'numberOfFailedSubmissions'),variables('Payload')['numberOfFailedSubmissions'],0)"
                },
                "runAfter": {
                    "Initialise_Iteration": [
                        "Succeeded"
                    ]
                }
            },
            "Set_Landings_Array": {
                "type": "SetVariable",
                "inputs": {
                    "name": "Landings",
                    "value": "@if( contains(variables('Payload'), 'landings'), variables('Payload')['landings'], null)"
                },
                "runAfter": {
                    "Initialise_Landings_Array": [
                        "Succeeded"
                    ]
                }
            },
            "Set_NumberOfFailedSubmissions": {
                "type": "SetVariable",
                "inputs": {
                    "name": "NumberOfFailedSubmissions",
                    "value": "@if(contains(variables('Payload'), 'numberOfFailedSubmissions'), variables('Payload')['numberOfFailedSubmissions'], 0)"
                },
                "runAfter": {
                    "Initialise_NumberOfFailedSubmissions": [
                        "Succeeded"
                    ]
                }
            },
            "Set_Payload": {
                "type": "SetVariable",
                "inputs": {
                    "name": "Payload",
                    "value": "@outputs('Tranform_Payload')"
                },
                "runAfter": {
                    "Initialise_Payload": [
                        "Succeeded"
                    ]
                }
            },
            "Initialize_Voided_Landing_Array": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "Voided Landing Index",
                            "type": "integer",
                            "value": 0
                        }
                    ]
                },
                "runAfter": {
                    "Set_Payload": [
                        "Succeeded"
                    ]
                }
            },
            "Set_Validation_Object": {
                "type": "SetVariable",
                "inputs": {
                    "name": "Validation",
                    "value": "@if(contains(variables('Payload'),'validation'),variables('Payload')['validation'],null)"
                },
                "runAfter": {
                    "Initialise_Validation_Object": [
                        "Succeeded"
                    ]
                }
            },
            "TODO_REMOVE:_Initialise_ExporterNumber": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "ExporterNumber",
                            "type": "string"
                        }
                    ]
                },
                "runAfter": {
                    "Initialise_CustomerId": [
                        "Succeeded"
                    ]
                }
            },
            "Tranform_Payload": {
                "type": "Compose",
                "inputs": "@if( contains(outputs('Parse_Payload_to_Object'), 'documentNumber'), outputs('Parse_Payload_to_Object') ,json(concat('{','landings:', string( outputs('Parse_Payload_to_Object') ),'}')))",
                "runAfter": {
                    "Parse_Payload_to_Object": [
                        "Succeeded"
                    ]
                }
            },
            "Update_Document_Process_Status": {
                "type": "ApiConnection",
                "inputs": {
                    "host": {
                        "connection": {
                            "referenceName": "commondataservice"
                        }
                    },
                    "method": "patch",
                    "body": {
                        "mmofe_processstatus": 961040001,
                        "_ownerid_type": ""
                    },
                    "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(parameters('HostUrl')))}/tables/@{encodeURIComponent(encodeURIComponent('mmofe_documents'))}/items/@{encodeURIComponent(encodeURIComponent(variables('DocumentId')))}"
                },
                "runAfter": {
                    "Complete_the_message_in_a_queue": [
                        "SUCCEEDED"
                    ]
                }
            },
            "Complete_the_message_in_a_queue": {
                "type": "ApiConnection",
                "inputs": {
                    "host": {
                        "connection": {
                            "referenceName": "servicebus"
                        }
                    },
                    "method": "delete",
                    "path": "/@{encodeURIComponent(encodeURIComponent('mmo-ecc-dyn-req-queue'))}/messages/complete",
                    "queries": {
                        "lockToken": "@triggerBody()?['LockToken']",
                        "queueType": "Main",
                        "sessionId": "@triggerBody()?['SessionId']"
                    }
                },
                "runAfter": {
                    "Create_or_Update_Catches_Products": [
                        "Succeeded"
                    ],
                    "Create_or_Update_Landings": [
                        "Succeeded"
                    ]
                }
            }
        },
        "outputs": {}
    },
    "kind": "Stateful"
}